[2019-03-31 12:09] karmagongde commented on #25
@eroux Hi Elie, Earlier you sent me **"all-outline-errors.txt"** a list of 8786 nodes with all the individual titles are also included. Please update this list for me would be very helpful too. Sorry for bothering again.

[2019-03-31 13:31] eroux commented on #25
sure, here is the latest version:

[error-outlines.zip](https://github.com/buda-base/library-issues/files/3026633/error-outlines.zip)

[2019-03-31 14:34] karmagongde commented on #25
This looks too detailed and count of nodes is overwhelmed. I checked W1KG1011-O1KG1011 and it displays correct images on the website and all the nodes have a correct image number. Is there any little adjustment on your query to reduce some of the outlines like O1KG1011. Thank you.

[2019-03-31 15:01] eroux commented on #25
sure, here's another query:

[erroutlines.zip](https://github.com/buda-base/library-issues/files/3026728/erroutlines.zip)

[2019-03-31 16:17] karmagongde commented on #25
Thank you Elie, This list is wonderful. I assume the list should be around 10000. Because I saw some librarians are still outlining without the image number because images are not renamed and synced on the website. I will try to manage this issue in the future.

[2019-04-12 01:57] #216 closed

[2019-04-26 09:50] eroux opened #234 "Swapped volumes in Pecing Tengyur"
The images for Volumes 77 and 81 (bu and dzu) are swapped for the Pecing Tengyur (I couldn't check, it was reported to me by @brunogml from the RKTS project)

[2019-04-26 19:14] karmagongde commented on #234
Hi Travis, Elie sent this volume switch issue in W1KG13126, Volume no. 77 W1KG13126-I1KG13246 and Volume no. 81 W1KG13126-I1KG13250 images are switched. There please switch and rename them in all the folders image folder, web, and update eBooks. But keep the scan-request pages as before. Thank you.

[2019-04-26 19:21] eroux commented on #234
I'm thinking that another solution could be to change the image groups in the work record without changing the images... @xristy would that work?

[2019-04-26 19:37] xristy commented on #234
Yes it should work to indicate in the VolumeMap that the imagegroup currently indicated as volume 77 is declared to be volume 81 and similarly for volume 81 to 77. This requires updating the Work record and the volume number info in the Imagegroup records.

No work for Travis just the librarians need make the change.

[2019-04-26 19:43] TBRC-Travis commented on #234
Thanks Chris and Elie.  I think having the librarians use DLMS to update the Imagegroup records when volumes need to be swapped like this is the ideal approach, rather than having to re-jigger all the image artifacts.  Karma, hope this is workable.

[2019-04-26 20:34] karmagongde commented on #234
I switched the volumemap number In DLMS and it worked to display on the website.
Still, the first two pages are on the wrong volume. This need to be fixed.
Do eBooks need to update for these two volumes?

[2019-04-26 21:07] xristy commented on #234
Here's an updated page 1 for volume 77:

[I1KG132500001.tiff.zip](https://github.com/buda-base/library-issues/files/3123013/I1KG132500001.tiff.zip)

and here's page 1 for vol 81:

[1KG132460001.tiff.zip](https://github.com/buda-base/library-issues/files/3123016/1KG132460001.tiff.zip)

These can be inserted in place of the current page 1's.

The eBooks could be regenerated if they're still being di

[2019-04-26 21:23] karmagongde commented on #234
eBooks are continue distributing on DLD and Lineage Drive.

[2019-04-26 21:26] xristy commented on #234
So I suppose those two volumes should be regenerated

[2019-04-26 21:34] TBRC-Travis commented on #234
I fixed the scan request pages.  I will regenerate the eBooks on Monday.

I'm torn whether this approach is better than what Karma initially suggested.  Given we still have to update these little do-dads and re-sync when we switch the volumeMaps it's not that much more effort to rename the files and re-sync the whole thing.

[2019-04-26 21:50] xristy commented on #234
If we weren't using the _annoying_ two tbrc pages then there would be not so much an issue.

We could automate deleting the two tbrc pages and updating the imagegroups if we decided to jettison them. The manifest and metadata should suffice as we discussed at the retreat in February

[2019-04-26 23:23] karmagongde commented on #234
We should not delete the scan request 2 pages from the work numbers which has an outline. Then all the outline images number will off by 2 pages.

[2019-04-27 00:46] xristy commented on #234
It's feasible to use small scripts on tbrc.org and buda1.bdrc.io to adjust absolute outlines by -2. So it's possible to safely delete the first two pages.

[2019-04-29 09:30] #234 closed

[2019-04-29 09:31] eroux commented on #234
thanks!

[2019-04-29 09:35] eroux opened #235 "strange image order in some volumes of Pecing Kangyur"
In W1KG13126, vol 77 (I1KG13250), the image order is not correct starting after page 100, it seems to go from 48 to 498b, and then order is wrong again. Again, spotted thanks to @brunogml

[2019-04-29 09:38] #214 closed

[2019-05-02 14:10] eroux commented on #235
Also in volume 88, pages 151-162 are after page 190

[2019-05-17 12:56] eroux opened #236 "new topics for NGMCP database records"
The Sanskrit texts of NGMCP (in the same spreadsheet) are categorized in topics, some of them not present in BDRC:

1. the most obvious one is *Purāṇa* / *sngon gyi rabs* / *Mythologized stories*
2. there is also a more general *Kathā* / *gtam* / *story* (we have more specific topics but we need a more general one in this case)
3. this is more a question: we have the Sanskrit topic *Saṅgīta* that

[2019-05-17 14:58] karmagongde commented on #236
I have created new topic for sngon gyi rab T2KG207410.
For the Story T216 would be fine.
T6 mgur glu is for songs of realization and T246 glu gzhas is for general songs.

[2019-05-17 15:11] eroux commented on #236
Thanks a lot!

[2019-05-17 15:11] #236 closed

[2019-05-17 16:22] xristy opened #237 "large images in W20468"
there are several 44MB tiff images in this new CTC 16 item that take quite a bit of time to load partially owing to the tiff to png conversion. Even after conversion to png they are still i n the 19MB range.

[2019-05-17 16:26] xristy opened #238 "typo in W20468 LC Call Number"
The year of publication for W20468 is 1994; however, the LC Call Number is showing as:

    bq7662.9 .b76 1974

which I'm guessing should be:

    bq7662.9 .b76 1994

[2019-05-17 16:31] eroux commented on #238
https://catalog.loc.gov/vwebv/search?searchCode=LCCN&searchArg=97915755&searchType=1&permalink=y actually gives `BQ7950.K667 B86 1994`

[2019-05-18 06:54] eroux opened #239 "wrong publication date"
https://www.tbrc.org/#!rid=W8LS20263 says the publication date is 2104, which is probably a typo for 2014

[2019-05-18 07:15] eroux commented on #239
after running a quick query, these also have events in the future:

- [ ] W1TLMTGA003152 (2041)
- [ ] W8LS23472 (2101)
- [ ] W3CN8305 (2104)
- [ ] W8LS20263 (2104)
- [ ] W1TLMTGA002388 (2207)
- [ ] W00KG09700 (2885)
- [ ] W2PD19364 (2107)
- [ ] W1PD159529 (2107)
- [ ] W1KG9841 (17736)
- [ ] P4CZ296781 (2085)
- [ ] P1TD6 (shifted 100 years)
- [ ] P4925 (16uuuu should just be 16uu)
- [ ] P11MS235 (1

[2019-05-19 07:34] eroux commented on #238
I tried a small script to check the call numbers against the marc records of LOC, unfortunately they don't allow scraping their marcxml files so at some point I just receive 403 errors, but in the meantime I got those:

- [ ] W20095: "PL3748.G425 .D55 1992" should be "PL3748.G425 D55 1992", see https://lccn.loc.gov/96915534
- [ ] W1KG5093: "[NOT AVALABLE]" should be "DS797.82.G53 B87 2009", see ht

[2019-05-21 16:17] karmagongde commented on #238
Corrected all the LC classification number in our Data.

[2019-05-21 16:28] karmagongde commented on #239
Corrected all the Publication Year and Person Record Year. Except W1TLMTGA003152 and W1TLMTGA002388. These two work numbers are not of BDRC. There are from Dzongsar Library, India.

[2019-05-21 16:30] eroux commented on #239
thanks a lot!

[2019-05-21 16:30] #239 closed

[2019-05-22 08:48] eroux commented on #238
thanks! I'm not closing yet because I'm trying to validate all of them but I need to contact someone at LoC to do that... no action required in the meantime

[2019-06-02 08:15] eroux opened #240 "wrong tbrcintro image count on volumes of W29468"
The image groups of https://www.tbrc.org/xmldoc?rid=W29468 indicate

[code]

while in fact there are 2 intro pages. Chris can you fix it? (I think you have a query for that)

[2019-06-03 14:09] xristy commented on #240
Done

[2019-06-03 14:09] #240 closed

[2019-06-03 14:21] eroux commented on #240
thanks!

[2019-06-05 14:32] eroux commented on #238
Here's a list of all the replacements: [lccncorrs.txt](https://github.com/buda-base/library-issues/files/3257628/lccncorrs.txt)

there are about 1500 of them... so I'm thinking maybe we should automate that? It can easily be turned into a .csv file. @xristy what do you think?

[2019-06-05 14:50] karmagongde commented on #238
Library of Congress might have updated and modified there  LC classification number. When we catalog, some of the  LC classification number fields are empty so we added "Unavailable + not available". Now seems they filled up this field.
Looks like they removed "TIB" from their previous data.
Anyway, if it is fixed automate would be very helpful. Thank you.
Karma

[2019-06-05 15:12] xristy commented on #238
It looks tractable

[2019-06-05 15:13] eroux opened #241 "incorrect lccn data"
related to https://github.com/buda-base/library-issues/issues/238 :

Strange `sa` prefix:

- W1KG9848: `sa 64006710`
- W19802: `sa 64006710`
- W1KG6049: `sa 68019390`
- W1KG9407: `sa 68020880`
- W1KG6050: `sa 68020724`
- W1KG18239: `sa 63004115`
- W1KG17446: `sa 68019371`
- W00KG09737: `sa 68020881`
- W00KG09387: `sa 68020888`
- W1KG16744: `sa 65000840`
- W1KG23487: `sa 68020010`
- W1KG17280: `sa

[2019-06-05 15:13] eroux commented on #238
ok cool, thanks!

[2019-06-05 15:45] xristy opened #242 "Establishing EAP cataloging records"
Jim, Travis, Élie and I had a meeting this morning, 3 June, on the request to create some records for an EAP project that involves scanning some FPL holdings for EAP, see [EAP_worklist.txt](https://github.com/buda-base/library-issues/files/3257905/EAP_worklist.txt).

Assume that we create new resource IDs for the EAP items as indicated in the file Travis supplied. There are 3 records that need to

[2019-06-05 17:16] TBRC-JimK commented on #242
It's not strictly a project requirement, just noting that keeping
`  <mw:publisherLocation>Nonthaburi, Thailand</mw:publisherLocation>` will cause the IA uploader to flag this as belonging to the IA FPL collections (which it does). There's no requirement that it be different on IA

[2019-06-05 17:20] xristy commented on #242
Maybe IA can use a different algorithm. For example the <w:inProduct/> is a useful hint about collections

[2019-06-05 17:41] TBRC-JimK commented on #242
I'll check on `<w:inProduct>`  representation in the MARC record.

[2019-06-05 21:47] xristy commented on #238
I converted the [lccncorrs.txt](https://github.com/buda-base/library-issues/files/3257628/lccncorrs.txt) ro csv using `|` for the separator, and added several columns and headings for all columns:

[LCCN_CORRECTIONS-20190605-CT.csv.zip](https://github.com/buda-base/library-issues/files/3259178/LCCN_CORRECTIONS-20190605-CT.csv.zip)

I noticed some _issues_ which I began indicating in the new column

[2019-06-06 14:36] karmagongde commented on #241
Hi, Do you want me to fix these issues manually?
Karma

[2019-06-06 14:55] xristy commented on #241
In the _Strange sa prefix_ list it may be necessary to check each one; however, using [https://catalog.loc.gov/vwebv/search](https://catalog.loc.gov/vwebv/search) for `sa 64006710` retrieves the expected record. The LoC permalink is written w/o the space like: [https://lccn.loc.gov/sa64006710](https://lccn.loc.gov/sa64006710), and the LCCN is reported as `sa 64006710`.

In the _Plainly wrong_ list

[2019-06-06 15:15] eroux commented on #241
indeed, the `unk` and `sa` are correct... sorry!

[2019-06-06 15:49] karmagongde opened #243 "Hyphen in ISBN"
Hi Chris and Elie,
Could you able to remove hyphen in between the ISBN number in our database by writing a script? I saw a bunch of work numbers has this issue.
Here are some sample work numbers:
W8LS20341
W8LS20344
W8LS20371
W8LS20374
W8LS20377
W8LS20380
W8LS20383
W8LS20386
W8LS20415
W8LS20421
W8LS20429
Please let me know.
Karma

[2019-06-06 16:04] TBRC-pmench commented on #242
Replacing the Work Record with `<w:inProduct pid="PR1EAP01”>Endangered Archives Programme of the British Library</w:inProduct>` seems odd to me, as the physical manuscripts aren't at EAP and are in the FPL collection. Perhaps I don't understand what "Product Information" means, though (the meaning of that label is opaque to laypeople, I think).

From my perspective, I don't see a problem with keep

[2019-06-06 21:33] xristy commented on #242
`<w:inProduct/>` was introduced when we first started the `Core Text Collection` subscription _products_ back in 2007 or so. Since then we've used `<w:inProduct/>` to create all sorts of _virtual collections_ of works like _Wisdom Masters Digital Library_ and the collections of quarterly Nepal parkhang works and so on. It would have been better to use a label like "Collections Info" instead of the

[2019-06-07 09:35] eroux commented on #243
Hi Karma,

ISBN is a quite complex format and it's very difficult to validate, but using a software validator, it seems that the hyphens in the works you indicated are not a problem. On the other hand, I tried the software validator or our records and it outputs these 762 invalid ISBN values:

[isbn-errors.txt](https://github.com/buda-base/library-issues/files/3265318/isbn-errors.txt)

Some of the

[2019-06-07 10:11] eroux commented on #243
Note that looking at this example: W19963, isbn recorded at 722301248, original image:

![ImageService](https://user-images.githubusercontent.com/60868/59097151-1cb21300-891d-11e9-925d-d4c8e4ed2ea1.png)

The original ISBN is plainly wrong. Apparently PRC adopted "true" ISBN around 2008. For books published before that date, the ISBNs we can encounter are probably not worth recording (they don't ap

[2019-06-07 10:22] eroux commented on #243
Other records are just typos, for instance W1GS66361has `978105081813` instead of `9787105081813`. Generally speaking, isbn starting with `978` should be valid. Filtering these reduces the list to the following 248 errors:

[isbn-errors-978.txt](https://github.com/buda-base/library-issues/files/3265481/isbn-errors-978.txt)

[2019-06-07 10:32] eroux commented on #243
I think one way of doing that automatically is to get the LOC Marc records, I can write a script for that and get their values directly for the records we have an lccn for.

[2019-06-07 13:55] karmagongde commented on #241
Hi Elie,
I am fixing the LC classification listed above. Almost done, I will let you know when it is completed.
Karma

[2019-06-07 13:56] eroux commented on #241
thanks a lot!

[2019-06-07 14:19] karmagongde commented on #243
Thank you for the Invalid list of ISBN.
Please help to remove hyphen in between ISBN in following work numbers:
W8LS18457
W8LS19219
W8LS18766
W8LS19249
W8LS19120
W8LS19159
W8LS19201
W8LS18745
W8LS18832
W8LS18844
W8LS18727
W8LS19150
W8LS18535
W8LS18538
W8LS18583
W8LS18628
W8LS18532
W8LS18484
W8LS20341
W8LS18871
W8LS20617
W3CN8375
W3CN8372
W3CN8369
W3CN8320
W8LS20661
W8LS20248
W8LS20386
W3CN3406
W8L

[2019-06-07 14:46] karmagongde commented on #241
Hi Elie,
I kept the listed on Strange sa prefix because LoC has same.
Rest I checked and made the correction.
Some I did not find mistakes so kept as it is. see below:
W22150: 79903503
W1KG23517: 83902722
Best,
Karma

[2019-06-10 17:23] karmagongde commented on #243
Hi Elie,
One of you ISBN error named "isbn-errors-978.txt" I opened and there is only 248 list. If there are 978 invalid ISBN, please send to me. Thank you.
Karma

[2019-06-10 17:34] eroux commented on #243
Hi Karma,

the `978` in the list name means that these are ISBN starting with `978`, which are supposed to be valid (while ISBN starting with `7` may be invalid anyways). It doesn't refer to the number of invalid ISBN

[2019-06-13 15:39] TBRC-JimK commented on #242
A side effect is that Internet Archive requires "Fragile Palm Leaves Collection" to be in the `/pubinfo/publisherName`  field of a work's MARC record to record it in the two BDRC Fragile Palm Leaf manuscripts collections: bdrc-fplmanuscripts and bdrc-palmleafmanuscripts.

[2019-06-13 15:42] eroux commented on #242
We'll find a better way to encode that in the future so that our future exports to IA will represent things in a clearer way. When BUDA will be live, we'll need to redesign some parts of the import anyway, they rely on our xml files which we won't provide anymore

[2019-06-13 16:05] TBRC-JimK commented on #242
So you're saying the generate MARC record script (`github://archive-ops/scripts/ia/create-archive-metadata.sh`) is what depends on the XML files

[code]
, and will have to change? Fair enough. That will have to wait until we start using BUDA for IA exports.

[2019-06-13 16:31] eroux commented on #242
well, that will change yes, but the main change will be that we will not send them the .xml files anymore. I'm talking about xml files like http://tbrc.org/xmldoc?rid=W1FPL110

[2019-06-15 07:07] eroux opened #244 "chapters marked as texts in outline of W1PD96348"
in the outline of https://www.tbrc.org/#!rid=W1PD96348 the most detailed level of the outline seem to be chapters, but they are marked as texts. If they are chapters can you please mark them as such? That helps the MARC export

[2019-06-17 08:04] eroux commented on #241
excellent, thanks!

[2019-06-17 08:04] #241 closed

[2019-06-17 08:08] eroux commented on #238
@xristy I'm not sure we really have the resources to go through the whole list and look at all the records, but I still think automatically importing the new call numbers would be an improvement... what do you think?

[2019-06-17 13:42] karmagongde commented on #244
Hi Elie,
I think there are many outlines which have chosen chapters. If this work is the only then I can fix manually.  Please let me know.
Karma

[2019-06-17 13:53] eroux commented on #244
Hi, thanks for the answer, I'm waiting for an email from Columbia about that, I'll keep you updated

[2019-06-17 15:00] xristy commented on #238
Looking at [lccncorrs.txt](https://github.com/buda-base/library-issues/files/3257628/lccncorrs.txt) I found that rows 840 and 841 were a split record. I've corrected to:

[LCCN_CORRECTIONS-20190605-ER-corr-W1KG14599.txt](https://github.com/buda-base/library-issues/files/3297484/LCCN_CORRECTIONS-20190605-ER-corr-W1KG14599.txt)

I've created two separate csv's. The first are the rows that have a non

[2019-06-17 15:09] eroux commented on #238
Thanks! That's right, it seems my script didn't do what I was expecting it to (with regards to blank values)... thanks for spotting it!

[2019-06-17 21:13] xristy commented on #238
The 1,336 works in [LCCN_CORRECTIONS-20190617-W_O-blank-corrected-CT.csv](https://github.com/buda-base/library-issues/files/3297506/LCCN_CORRECTIONS-20190617-W_O-blank-corrected-CT.csv.zip) have been corrected via `/db//modules/admin/pubinfo-update-lcCallNumber-fromCSV.xql`

The remaining 116 can be resolved later.

[2019-06-19 16:48] xristy opened #245 "Etexts in Incoming to be processed"
This refers to [xmltold #83](https://github.com/buda-base/xmltoldmigration/issues/83).

115 Works were identified as anomalies regarding eTexts. Of these the 78 listed in [ETEXTS-InfoUnicode-NoEtext-WithParent-WorkRids](https://github.com/buda-base/xmltoldmigration/files/3292026/ETEXTS-InfoUnicode-NoEtext-WithParent-WorkRids.txt) will be marked as withdrawn per discussion w/ @karmagongde. These re

[2019-07-15 08:14] eroux commented on #222
Hi Karma, to be able to finish the EAP import, could you also include the following
- Menrikha temple
- Phurdogkha Temple
- Pumola temple
- Thujedra temple
? thank you!

[2019-07-22 20:50] karmagongde commented on #222
Hi Elie,
Here are the G# numbers for EAP import:

- Menrikha temple = G2KG208037
- Phurdogkha Temple = G2KG208038
- Pumola temple = G2KG208039
- Thujedra temple = G2KG208040
- Phurdrup monastery = G2KG208041

Karma

[2019-07-22 21:05] eroux commented on #222
Hi Karma,

Thanks a lot!

Best

[2019-07-22 21:05] #222 closed

[2019-07-23 12:36] eroux opened #246 "works with no images in CTC"
Hi Karma, here are 11 works that are in CTC but have no image group:

W4PD5184
W4PD5187
W4PD5190
W4PD5180
W4PD5178
W4PD5192
W4PD5191
W4PD5181
W4PD5188
W4PD5183
W4PD5182

Thank you!

[2019-07-23 14:15] karmagongde commented on #246
Hi Elie,
These work numbers are not in CTC. Paldor mistakenly selected Production Information. Since all the work numbers are released on Sept. 2018 and CTC 5 and others are released a long time ago.
I will remove Product Information in these 11 works.
Best,

[2019-07-23 16:02] karmagongde commented on #246
Hi Elie,
I just removed all the Production Information (CTC) form above 11 work numbers.
Karma

[2019-07-23 16:04] eroux commented on #246
ok thanks!

[2019-07-23 16:04] #246 closed

[2019-07-29 19:29] TBRC-Travis commented on #77
@karmagongde Did we ever receive new scans for W3CN3406, volumes 1 and 4?  Somebody is requesting this work and would like to sync these other 2 volumes if we have images for them.

[2019-07-29 21:47] karmagongde commented on #77
We did not receive Re-scan of the W3CN3406, vol. 1 & 4. The images are readable. Please sync them without compressing as it is.
Images are in ReadyToProcess/W3CN3406
Thank you,
Karma

[2019-07-30 06:18] eroux opened #247 "update to Esukhia outlines"
There's been a recent update to the (~200?) outlines made by Esukhia in 2013 - 2016. The new ones are on https://drive.google.com/drive/u/0/folders/0B6CXfwJdHBjAMWhJaUJVSHRSUFk (the folders with the suffix `B` are the updated ones). They should be in a format that can be processed through the [import mechanism](https://github.com/buda-base/convert-2-outline-xml/).

The update consists mostly in sp

[2019-07-30 14:02] xristy commented on #247
Now that the [convert-to-outline-xml](https://github.com/buda-base/convert-2-outline-xml) has been revamped perhaps NT can run it on the various csv files. Once there's a set of xml outline files it's a matter of a minute or two to upload them to eXist-db

[2019-07-30 14:44] eroux commented on #247
sure, why not yes

[2019-07-30 20:10] karmagongde commented on #247
I sent approximate 50 outlines numbers to NT to make correction of image numbers. Those were 2 pages off in outline image numbers and Travis sent images files of those 50 work numbers to NT to check and make correct image numbers in outlines. Proofread and fixing spelling error in these outlines is wonderful.

[2019-08-05 17:50] eroux commented on #247
Here are the csv files:

[Esukhia-outlines.zip](https://github.com/buda-base/library-issues/files/3468750/Esukhia-outlines.zip)

The next step is to convert that into xml, I'll see if I can do that tomorrow

[2019-08-05 18:18] xristy commented on #247
Here's the output for checking. I'll upload if it's approved:

[Esukhia-outlines-Out.zip](https://github.com/buda-base/library-issues/files/3468827/Esukhia-outlines-Out.zip)

[2019-08-05 18:19] eroux commented on #247
Thanks a lot!

@karmagongde , @ngawangtrinley : please check that the 2 pages offset Karma talked about is fixed in these files

[2019-08-05 18:32] ngawangtrinley commented on #247
O1KG4191 has some issues, will fix in the morning, and look for more

[2019-08-20 15:11] jeehuajian commented on #247
issue fixed
[esukhia-outline.zip](https://github.com/buda-base/library-issues/files/3521333/esukhia-outline.zip)

[2019-08-20 15:30] eroux commented on #247
Thanks! A last problem with the new outlines: can you remove the first line when it's just the general work?

For instance in the outline for W1KG13693, the first line goes from image 1 to image 862 and is just the name of the work. Can you please remove the lines following this pattern? (Warning, the first two columns of the first line shouldn't be removed).

Example:

current csv is:

[code]

it

[2019-08-26 02:12] jeehuajian commented on #247
Esukhia outline issue fixed
[esukhia outline.zip](https://github.com/buda-base/library-issues/files/3539162/esukhia.outline.zip)

[2019-08-26 09:37] eroux commented on #247
looks good to me, thanks a lot! @xristy if these look ok to you, I think we could import them

[2019-08-27 07:53] eroux commented on #247
@jeehuajian there were a couple of bugs in the import script, and I don't want to bother you too much in case we find more, can you please send just the csv files? We'll handle the conversion ourselves.

[2019-08-28 05:03] jeehuajian commented on #247
Esukhia outline csv file
[esukhia-outline csv.zip](https://github.com/buda-base/library-issues/files/3549178/esukhia-outline.csv.zip)

[2019-08-28 05:34] eroux commented on #247
Thanks!

[2019-08-28 09:54] eroux commented on #247
@xristy can you try importing these ones?

[esukhia-outlines-xml.zip](https://github.com/buda-base/library-issues/files/3550219/esukhia-outlines-xml.zip)

[2019-08-28 15:02] eroux commented on #247
thanks a lot! Just to be sure, did you fix them? If so I'll close the issue

[2019-08-28 15:09] #247 closed

[2019-08-28 15:09] eroux commented on #247
thanks!

[2019-08-28 17:27] ngawangtrinley commented on #247
Thanks Chris!

On Wed, Aug 28, 2019, 23:09 Elie Roux <notifications@github.com> wrote:

[2019-08-30 06:39] jeehuajian commented on #247
@eroux @xristy Please check for esukhia outline. 25 more new outlines. (these are different from the last one)
[Esukhia outline-csv(C).zip](https://github.com/buda-base/library-issues/files/3558562/Esukhia.outline-csv.C.zip)

[2019-08-30 16:32] xristy commented on #247
The 25 outlines have been uploaded

[2019-08-30 16:44] xristy opened #248 "problem accessing images for W28974"
The metadata indicates that there are 420 pages but an error occurs accessing the images on tbrc.org and library.bdrc.io

[2019-08-30 16:50] xristy opened #249 "W1KG10720 images off-by-2 in Outline"
The outline for [W1KG10720](https://www.tbrc.org/#!rid=W1KG10720) for the first entry in volume 1 (gsal byed ...) appears to be off-by-2.

The outline, [O1KG10720](https://www.tbrc.org/xmldoc?rid=O1KG10720), was generated from a csv prepared by Esukhia.

I suggest that Esukhia staff check each of the outlines on tbrc.org to ensure that they're working as expected

[2019-08-30 16:53] xristy commented on #247
see issues #248 and #249

[2019-08-30 17:05] eroux commented on #249
@ngawangtrinley @jeehuajian can you take a look?

[2019-08-30 17:11] eroux commented on #248
the problem is that the images are in

s3://archive.tbrc.org/Works/e0/W28974/images/W2874-I1KG12439/

instead of

s3://archive.tbrc.org/Works/e0/W28974/images/W28974-I1KG12439/

(the second work RID is missing a `9`)

@TBRC-JimK can you resync?

[2019-09-01 00:56] ngawangtrinley commented on #249
Will look at it tomorrow, thanks!

[2019-09-02 03:22] jeehuajian commented on #249
The whole work is a mess, uncatalogable, un-outlinable. Vol 2 and 3 are the same, and 6 and 8 are the same too. The only difference is that the first few pages where swapped with other titles pages. The title pages of vol 7 were used for vol 1. We didn't look at the content in detail. It doesn't look like the work has 8 volumes, 6 at best, maybe even less.

We just give up with this one and pass i

[2019-09-05 15:38] eroux opened #250 "wrong tbrc-intro number for W23703"
All the image groups of W23703 indicate `tbrc-intro="0"` while it should be 2

[2019-09-06 09:58] eroux commented on #249
closing, no action will likely be taken

[2019-09-06 09:59] eroux commented on #244
let's close this, it's not relevant anymore

[2019-09-06 09:59] #244 closed

[2019-09-06 10:01] eroux opened #251 "adding diacritics to Sanskrit person names"
A project was started some time ago to add the missing diacritics on some person names in Sanskrit, see the following results:

https://docs.google.com/spreadsheets/d/1omELQYnhOq0-VtSWDpM_8wNyF8IdD1CBqUJGd-t0FUI/edit#gid=0

the project is likely not going to continue. @karmagongde do you think the xml records could be updated with the diacritics? (and the "encoding" changed to "withDiacricics"? Th

[2019-09-06 12:36] karmagongde commented on #251
I know some Sanskrit but never learned diacritics. Please ask Charles DiSimone, this is his specialty field.

[2019-09-06 12:55] eroux commented on #251
The document contains the diacritics already, it's just a matter of copy/pasting

[2019-09-06 13:04] karmagongde commented on #251
Among 493, only 133 has diacritics. When the IAST column is complete I will add diacritics in the person records with the help of Librarians.

[2019-09-06 13:25] eroux commented on #251
As explained in the initial comment, the project will not continue so the rest of the titles will probably not get their equivalent with diacritics in a foreseeable future. Can we start with these ones?

[2019-09-06 16:28] karmagongde commented on #251
I have assigned to Librarians to add Sanskrit Diacritics for these 132 Person records. Actually some are identical as previous.
For instance, P4920, P4CZ15085, P4CZ15088, P9951, so on.

[2019-09-06 16:52] eroux commented on #251
thanks!

[2019-09-06 18:01] TBRC-JimK commented on #248
Done

[2019-09-06 18:05] eroux commented on #248
Thanks! The `dimensions.json` is not fully generated though, it just contains the filenames and is missing the dimension information

[2019-09-06 18:08] TBRC-JimK commented on #248
Ok, I'll re-run the dimensions builder.

[2019-09-09 08:14] eroux commented on #250
same for W22334

[2019-09-09 13:16] TBRC-JimK commented on #248
Done.

[2019-09-09 13:16] #248 closed

[2019-09-09 13:23] eroux commented on #248
thanks!

[2019-09-11 20:50] karmagongde commented on #251
Librarians have already added the Diacritics Sanskirt.

[2019-09-16 15:17] eroux commented on #168
@TBRC-JimK @TBRC-Travis is this done? There are people working on the pagination of this work and their work will be wasted if we resync with a different image order...

[2019-09-16 15:20] TBRC-Travis commented on #168
@eroux Not yet.  It is ready to sync.  Would you like me to sync it now or would it make sense for Karma to reorder the pages on Incoming and then sync?

[2019-09-16 15:35] karmagongde commented on #168
@TBRC-Travis Hi Travis, I have already corrected images order and sent this message on March 22, 2018. It is best to sync now for the people who will use this edition.

[2019-09-16 15:38] TBRC-Travis commented on #168
@karmagongde I guess my point was if we sync now and then people reorder the pages again, then we'll have resync another time as well.

[2019-09-16 15:39] eroux commented on #168
yes, but let's not reorder the images in the current way after this batch, we'll have a system to reorder images in BUDA without renaming, resyncing, etc.

[2019-09-16 15:40] TBRC-Travis commented on #168
well that's a relief.  :)  I'll go ahead and sync these.

[2019-09-16 15:41] eroux commented on #168
sorry, to be more clear: please sync the current state now, and then @karmagongde  please let's not touch it again

[2019-09-16 15:42] karmagongde commented on #168
Sure, will not touch any images and volume order.

[2019-09-16 18:55] TBRC-Travis commented on #168
Images from ReadyToProcess have been synced.

https://www.tbrc.org/#!rid=W4CZ5369

Karma, please confirm the new images are satisfactory and we can close this out.

[2019-09-16 19:13] karmagongde commented on #168
Now it is better. earlier 2 pages are off in all the outline pagination.
Thank you all.

[2019-09-16 19:25] eroux commented on #168
ok, thanks a lot!

[2019-09-16 19:25] #168 closed

[2019-09-16 19:27] #205 closed

[2019-09-18 17:23] karmagongde commented on #249
@jeehuajian @ngawangtrinley I checked again the order of the volumes of W1KG10720 and find duplicate གསལ་བྱེད་དུམ་བུ་གཉིས་པ། 704 only.
Anyway, I rearranged the volumes we have and Travis has already synced online. Please correct the outline based on the present order.
This is the only collected works we have and very important to have an outline.
Please download the texts from our website. If you

[2019-09-19 10:25] ngawangtrinley commented on #249
@karmagongde Thank you for looking at it. We'll update the outline. We tried to figure out what the issue was but couldn't really decide what to do with it. It's one of those cases we would have sent back to the FRs and asked for a re-scan. I didn't realise it was a rare collection. Lucky we have 7 out of 9 volumes!

[2019-10-21 19:28] eroux opened #252 "more information on W1KG16449"
According to Bob Mayer:

So it may be a good idea not to use the title `mtshams brag` for W1KG16449. @karmagongde what do you think?

[2019-11-20 13:35] eroux commented on #228
all the duplicate persons have been taken care of, thanks a lot!

[2019-11-20 13:38] eroux opened #253 "new W IDs for rKTs works"
Hi @karmagongde , can you please create some W RIDs for the following resources?

- [ ] https://www.istb.univie.ac.at/kanjur/rktsneu/collections/affiche.php?id=bardan Zanskar 8 volumes
- [ ] https://www.istb.univie.ac.at/kanjur/rktsneu/collections/affiche.php?id=charang Lahaul
- [ ] https://www.istb.univie.ac.at/kanjur/rktsneu/collections/affiche.php?id=chemre Ladakh ? volumes
- [ ] https://www.is

[2019-11-20 18:03] karmagongde commented on #253
Hi Elie,
Are these images are the same as the images gave us by Bruno a long time ago (2013-14?)?
If so, we already catalog them according to the contents in 2015. I found there are 97 Work numbers for the images from the "University of Vienna". To double-check could Bruno able to send me full images of one of the lists and any outlines created by rKTs. Thank you,
W3CN1094
W3CN1302
W3CN1314
W3CN13

[2019-11-20 18:18] eroux commented on #253
Thanks a lot! @brunogml there's really a lot of these that should make it to the collections spreadsheet but you know best what's what... can you take a look?

[2019-11-20 18:59] brunogml commented on #253
It seems that all W8LS.... belongs to the same collection in Zangla. Should be one RID
For the rest, I will check in the coming days

[2019-11-20 19:24] brunogml commented on #253
In the near future, I will crop all the rKTs pictures. The next you will get is Hemis I He. Please let the collections in the order I give it to you, because it represents the way it is preserved in the monasteries or palaces. Thanks

[2019-11-20 20:57] karmagongde commented on #253
Hi Bruno, The new cropped images from rKTs, I will make sure Librarians will catalog as your suggestion. Please share whole images when it is ready for cataloging and to know the number of volumes is important for us to generate image group numbers. Best, Karma

[2019-11-22 18:29] eroux opened #254 "duplicate places (from SRC)"
Hi @karmagongde , [Sakya Research Center (SRC)](https://sakyaresearch.org) has a lot of place records, most of them have some BDRC IDs, and sometimes there are two, because of probable duplicates, can you please check:

- [x] https://sakyaresearch.org/places/76: G3518, G3159
- [x] https://sakyaresearch.org/places/77: G4605, G3319
- [x] https://sakyaresearch.org/places/81: G4606, G2441
- [x] https:

[2019-11-22 18:55] eroux opened #255 "duplicate persons (from SRC)"
here's the same list for duplicate persons:

- [x] https://sakyaresearch.org/persons/413: P5301,P0RK537
- [x] https://sakyaresearch.org/persons/588: P0RK1103 duplicate of P3205 or P4570?
- [x] https://sakyaresearch.org/persons/602: P2922,P4068
- [x] https://sakyaresearch.org/persons/1576: P1840,P4872
- [x] https://sakyaresearch.org/persons/1925: P475,P6188
- [x] https://sakyaresearch.org/persons/2

[2019-11-23 09:50] eroux commented on #255
I double checked the spreadsheet and there are pairs which are marked as duplicates in the spreadsheet but where no record has been withdrawn:
- [ ] P0RK36 = P4CZ10568
- [ ] P00EGS1016642, P0RK153
- [ ] P0RK200 = P8181

also the following have no indication, I don't know if they've been looked at?
- [ ] P0RK512 = P1880

[2019-11-23 13:57] eroux opened #256 "person data augmentation (from NGMCP)"
Hi @karmagongde , I've compared our data to NGMCP person data, and here are a few things that we could add:

First these dates are indicated in NGMCP but not in our data:

[dates-results.zip](https://github.com/buda-base/library-issues/files/3882510/dates-results.zip)

Then these Sanskrit names are in NGMCP but not in our data:

[names-results-skt.txt](https://github.com/buda-base/library-issues/f

[2019-11-23 14:34] karmagongde commented on #256
Hi @eroux , The date-results is helpful. I will add to our data. The names of both the Tibetan and Sanskrit, BDRC already have P# record. I will check and make modifications if necessary.
For instance, P2596: khri byang 03 = ཁྲི་བྱང ༠༣ བློ་བཟང་ཡེ་ཤེས་བསྟན་འཛིན་རྒྱ་མཚོ།
P7878: Jayasena = Please see the attached screenshot. We already have jayasena.
<img width="846" alt="Screen Shot 2019-11-23 at 9

[2019-11-23 15:13] eroux commented on #256
Thanks a lot! This is not a pressing issue, it's just to deal with when time is right. There's no new P records to add, just some names in some cases. The data comes from an automatic query and sometimes the results are not relevant yes. If they're not let's ignore them, as you say.

I think the two issues about SRC are higher priority than this one, they're also shorter I think.

Safe travels!

[2019-11-24 16:37] eroux commented on #255
Here are some answers from the SRC project regarding some pairs that have been marked as non-duplicates in the last spreadsheet:

maybe it would be worth reconsidering these?

[2019-12-07 10:29] eroux commented on #254
I also noticed this duplicate yesterday: G3CN410 / G3168

[2019-12-10 18:06] chungdak commented on #254
moved info from dup record "G3168"
withdrawn in favor of G3CN410
from Chungdak
_________________________________________________________
Chungdak  Nangpa | Senior Librarian
ནང་བསྟན་དཔེ་ཚོགས་ལྟེ་གནས། | Buddhist Digital Resource Center | 佛教数字资源中心
1430 Massachusetts Ave., 5th Floor Cambridge, MA 02138 | tbrc.org

On Sat, Dec 7, 2019 at 5:29 AM Elie Roux <notifications@github.com> wrote:

[2019-12-10 18:10] eroux commented on #254
Thanks a lot!

[2019-12-11 18:36] xristy opened #257 "third and last images not displaying for W1KG4292 and W1KG4223 etc"
Attempting to view the third image and last image of the mentioned works on tbrc.org gives an error indicating apparently missing images. The images do appear in library.bdrc.io as poor b&w. Other works in the series such as W1KG4225 and W1KG4289 have clean color cover images.

[2019-12-11 19:19] TBRC-Travis commented on #257
The pages failing to load were Fax4 tifs in some sort of funky state.  A simple mogrify on these would be enough to get them to load, but since they originated from nice color images I restored them back to color JPGs rather than tif files.  All set!

[2019-12-11 19:19] #257 closed

[2019-12-11 20:28] xristy commented on #257
Most excewllent! Thanks

[2019-12-23 06:47] dustcats opened #258 "duplicate sources (from SRC)"
FYI: W3CN485 (https://sakyaresearch.org/sources/768) seems to be identical with the entries W2DB4567, W2DB4568, W2DB4569, W2DB4570, W2DB4571, W2DB4573

Best wishes,
Mathias

[2019-12-23 08:48] karmagongde commented on #258
The title could be the same but publishers are different in this case. So it is a different edition. There are a few duplicates texts which we are aware of it.  The images are already paid and we have to keep both for account reason.
Best,
Karma

[2019-12-26 15:12] eroux opened #259 "wrong page number for Derge Kangyur W22084"
in volume 6 (image group `0891`), tbrc.org indicates only 209 images, while the volume is much longer and the scan request page indicates 574 images. Do we have the rest of the images?

[2019-12-30 18:44] TBRC-JimK opened #260 "Downloaded PDF has images which are too wide to view"
A professor in France just wrote to me about https://www.tbrc.org/#!rid=W00KG04005. The images display fine online but the downloads are enormous (dimension-wise, not megabyte-wise).

[2019-12-30 18:47] TBRC-JimK commented on #260
I generated a PDF from this work.  On Chrome on Windows, the PDF as seen in the browser seemed fine, but when I went to zoom in or out, the image just swelled up to an unusable zoom level, and would not shrink.

When I downloaded the PDF file and opened it in Acrobat reader DC, it warned me that images extended beyond the viewable margin, and only the left-hand third (or fourth) of each image was

[2019-12-30 19:24] TBRC-JimK commented on #260
W00KG04004 and W1FPL2251 do not have this behavior.
XnViewMP shows that
[W00KG04005.props.txt](https://github.com/buda-base/library-issues/files/4010772/W00KG04005.props.txt) shows a DPI of 3x3 (with a resulting image size of 862 ")
while
[W40KG04004.props.txt](https://github.com/buda-base/library-issues/files/4010773/W40KG04004.props.txt)
is more to scale.

[2019-12-30 19:38] TBRC-JimK commented on #260
The W00KG04005 images on both S3 and RS3 have the same DPI (3x3).

[2019-12-30 23:47] TBRC-Travis commented on #260
Fixed DPI and image width of images.

[2019-12-30 23:47] #260 closed

[2020-01-03 21:55] jimk-bdrc opened #261 "Fails audit tool"
Summary
- [x] W00KG03818
- [x] W00KG03984
- [x] W00KG04002
- [ ] W00KG0545
- [x] W00KG03568

[2020-01-03 22:11] TBRC-JimK commented on #261
Removed bad tif
[code]

[2020-01-03 22:15] TBRC-JimK commented on #261
W00KG03818, I declared errors 110, 111 as warnings.

[2020-01-03 22:54] TBRC-JimK opened #262 "Fix missing files in W00KG0545"
audit tool complains about missing images.
They are also missing in this image group in W00KG0545/archive/...
resequence and resync. (to upload them to IA)

[code]

[2020-01-03 23:11] TBRC-JimK commented on #262
Fixed or reassigned all the errors in this list.  1 hour.

[2020-01-03 23:11] #262 closed

[2020-01-06 21:57] karmagongde commented on #259
I checked in our archive and those folios are missing in volume 6 of Derge Kangyur W22084. Does rKTs has the complete images of volume no. 6? Please let me know. Otherwise, I have to find from other sources to make this volume complete.

[2020-01-07 10:09] eroux commented on #259
Hi Karma, rKTs has no reason to have scans of this edition, I'm not sure who to ask... maybe @ngawangtrinley  would know?

[2020-01-07 15:13] karmagongde commented on #259
Hi Elie, rKTs is doing research on all the Kangyur editions and I thought they might have scan images of Derge Parphud edition. Anyway, I will find the missing pages.

[2020-01-08 07:32] brunogml commented on #259
We do not have images of the Derge Kanjur of our own. Sorry!

[2020-01-08 16:05] karmagongde commented on #259
I got the 'dul ba cha from Gordon as well as in borders folder. I will ask Travis to sync.

[2020-01-08 16:19] eroux commented on #259
ah excellent, thanks! Is it the same Delhi edition?

[2020-01-08 17:10] karmagongde commented on #259
Yes, it is the same edition of Delhi.

[2020-01-08 18:00] eroux commented on #259
Great! Maybe if we have all the volumes of this new set of scans (which is probably better than the one we currently have?) we could create a new W record and have them all online? Or is it images from the same set of scans?

[2020-01-08 18:16] karmagongde commented on #259
I have only the volume 6 to replace.

[2020-01-10 02:54] karmagongde commented on #259
The complete images of W22084, vol. 6 is uploaded on the website.

[2020-01-10 04:52] ngawangtrinley commented on #259
Thanks @karmagongde, and sorry @eroux I couldn't help with that

[2020-01-13 16:53] eroux commented on #259
thanks, excellent!

[2020-01-13 16:53] #259 closed

[2020-01-15 15:41] karmagongde commented on #254
Hi Elie,
All the listed duplicate places are reviewed and made the necessary modification or withdrawn in case of duplicate. I requested Chungdak la to reviewed since he is an expert and has on hand knowledge of the geography of Tibet. Thank you Chungdak la.
Best,
Karma

[2020-01-15 15:48] karmagongde commented on #255
Hi Elie,
All the listed Duplicate person records are reviewed and made all the necessary modifications and withdrawn in cased of duplicate. I requested Lobsang la for this work and the work is done. Thank you Lobsang la.
Best,
Karma

[2020-01-15 15:59] eroux commented on #254
thanks! Just as a note, here are the couples that have been identified as non duplicates:
- G4CZ1550, G3519
- G1379, G2000
- G1390,G3CN55
- G3170,G3CN403
- G3CN52,G3CN117

@dustcats

[2020-01-15 16:00] #254 closed

[2020-01-15 16:16] eroux commented on #255
Again as a note, the non-duplicates are:
- P0RK1103 duplicate of P3205 or P4570?
- P1840,P4872

@dustcats FYI, here's a list of new withdrawn -> replacements related to your data:
- G3159,G3518
- G3319,G4605
- G2441,G4606
- G4215,G3474
- P0RK36,P4CZ10568
- P0RK153,P00EGS1016642
- P0RK200,P8181
- P0RK512,P1880
- P5301,P0RK537
- P4068,P2922
- P6188,P475
- P4544,P5302
- P8LS12743,P869
- P0RK1734,P157

[2020-01-15 16:17] eroux commented on #258
closing as different editions should indeed have different W RIDs (the bibliographical model is revised in the new platform, but we can see that in the future)

[2020-01-15 16:18] #258 closed

[2020-01-15 16:19] eroux commented on #253
closing, communication is using other channels

[2020-01-15 16:19] #253 closed

[2020-01-15 16:25] eroux commented on #235
will be rearanged in another tool, closing

[2020-01-15 16:25] #235 closed

[2020-01-28 09:39] eroux opened #263 "duplicate / misplaced image groups"
- [ ] [I1FEMC01](https://www.tbrc.org/#!rid=I1FEMC01) is referrenced in both [W1FEMC01](https://www.tbrc.org/#!rid=W1FEMC01) and [W1FEMC02](https://www.tbrc.org/#!rid=W1FEMC02) (indicates W1FEMC01)
- [ ] [I3CN624](https://www.tbrc.org/#!rid=I3CN624) is referrenced in both [W3CN616](https://www.tbrc.org/#!rid=W3CN616) and [W3CN472](https://www.tbrc.org/#!rid=W3CN472) (indicates W3CN472)
- [ ] [I3CN

[2020-01-28 16:04] xristy commented on #263
@karmagongde appears to have repaired these

[2020-01-28 16:25] eroux commented on #263
I'm not sure what makes you say that? I still see `I3CN624` in both
- https://www.tbrc.org/xmldoc?rid=W3CN472
- https://www.tbrc.org/xmldoc?rid=W3CN616

[2020-01-28 16:31] karmagongde commented on #263
I have repaired W1FEMC02. I am on the other 2 work numbers. It seems to machine error. Anyway, I will change the IG number of W3CN472 and W3CN419. @TBRC-Travis Please replace these two work numbers.

[2020-01-28 16:33] eroux commented on #263
ok thanks!

[2020-01-28 17:26] TBRC-Travis commented on #263
@karmagongde I've fixed W3CN472 and re-synced the images.

Images are not yet available for W1FEMC02 or W3CN419 so those don't require fixing.

[2020-01-28 18:05] karmagongde commented on #263
Both the W3CN472 and W3CN419 has a new IG number. Thank you for re-synced the images of W3CN472. @TBRC-Travis
No required to fix W3CN419 & W1FEMC02.
W1FEMC02 is from Phnom Phen, Cambodia.

[2020-01-28 18:06] eroux commented on #263
excellent, thanks!

[2020-01-28 18:06] #263 closed

[2020-01-30 11:52] eroux commented on #60
moved to https://github.com/OpenPecha/ocr-wishlist/issues/1

[2020-01-30 11:52] #60 closed

[2020-01-30 15:19] eroux opened #264 "missing volumes for W21508"
W21508 is missing volumes 105 and 106, @karmagongde do we have them in the archives?

[2020-01-30 15:27] eroux commented on #264
oh, sorry, it seems it's indicated, I was confused by the fact that the image groups are there but only contain the scan requests

[2020-01-30 15:27] #264 closed

[2020-02-04 13:44] eroux opened #265 "PDF of only 40 pages for open access works"
going to https://www.tbrc.org/#!rid=W3CN515 when not logged, I see that I can only access the first 20 and last 20 pages even though the work is in open access. I can actually see all the images in the image viewer, but when I download "full PDF", I'm getting only 40 pages. @xristy wdyt?

[2020-02-04 16:14] xristy commented on #265
For an ```OPEN_ACCESS``` work  if the user is in group _TBRC_ or _FULL_ then the user gets ```OpenAccess```; otherwise, if the user is not in one of the two groups or not logged in at all then ```SampleAccess``` is returned from ```Queries.accessRight```:
[code]
Then in ```ImageService.doGet``` the relevant check is:
[code]
**but** the server is currently configured so that ```limitGuest == false`

[2020-02-04 16:16] eroux commented on #265
I see... do you think we still need that?

[2020-02-04 16:47] xristy commented on #265
I have checked with Travis to see how frequently they are fielding requests for full access and he says they get 1 or 2 a week. Travis says it's no big deal for them to handle that amount of requests.

We could change the configuration so that ```groupFull == true``` (only a server bounce is needed). Then new users would not be contacting the staff for full access.

We have always required users t

[2020-02-14 16:34] xristy opened #266 "possible scan issue in W1FEMC031274"
@TBRC-JimK There's a possible scan issue on at least page 22 of W1FEMC031274 where the top left line is cut off:

![Screen Shot 2020-02-14 at 10 28 22 AM](https://user-images.githubusercontent.com/3542294/74549371-23197580-4f15-11ea-86d2-f9c360fb9088.png)

This bring to the fore the idea of recording "best available image" as has been done for some older TBRC images so that users know that the ima

[2020-02-14 17:21] TBRC-JimK opened #267 "Image quality in W1KG18437"
Matthew Kapstein, professor of Tibetan in Paris, wrote to me to ask if anything can be done about the images for W1KG18437. The books have hundreds of full color photos but the web images aren’t very good. I’m hoping it’s just a matter of over compression and that we can reprocess them and offer him and others a much better version of this work.

[2020-03-02 16:30] eroux opened #268 "duplicate persons: P0RK656 and P6118"
Hi @karmagongde I think P6118 and P0RK656 are duplicates, can you please check? Thanks!

[2020-03-02 17:29] karmagongde commented on #268
Hi Elie,
These two are the same and I have withdrawn P0RK656.

[2020-03-02 18:14] eroux commented on #268
excellent, thanks!

[2020-03-02 18:14] #268 closed

[2020-03-02 18:37] TBRC-JimK commented on #266
This was a cropping error going from raw to sources, so it's not the best available. I'll let DDD know.

[2020-03-06 20:26] TBRC-JimK commented on #267
Hi Travis, I just assigned this to you so you can close

[2020-03-06 20:26] #267 closed

[2020-03-06 20:35] TBRC-Travis commented on #267
Just so it's documented here, we ended up re-scanning this work through the generosity of IA's digitization lab at the Boston Public library.  The original publication contains pecha images that are of mediocre quality but we were able to produce higher quality images from the original books.  So the end result is as good as it can get.

[2020-03-06 20:43] TBRC-JimK commented on #266
Actually, it only appeared to be a crop form raw to sources, because the raw files were upside down. I asked DDD to resubmit this work

[2020-03-24 10:46] eroux commented on #256
Hi @karmagongde , I'm thinking perhaps it would be a good time to look into this? Best

[2020-03-24 13:25] karmagongde commented on #256
Hi Elie,
Thank you for this reminder. Although I am working on NLM and other contributed images this is interesting and it will improve our data information. I will look and add anything missing in the BDRC database.
Best,
Karma

[2020-03-24 13:30] eroux commented on #256
ok thanks! I sorted the information of NGMPP so that only those that we don't have at all in the database are in the files of this github issue, at least that's the theory!

[2020-03-30 21:33] karmagongde commented on #256
Hi Elie,
I reviewed the dates, and Sanskirt and add as well as modified accordingly. some of the dates, I kept the BDRC record because it has source references.
The names-results-tib, I looked a few of them and all exist in the BDRC database.

[2020-03-31 06:32] eroux commented on #256
Hi Karma, perfect, thanks!

[2020-03-31 06:32] #256 closed

[2020-04-07 14:44] TBRC-JimK commented on #266
No further work needed on this issue. The images are what they are.

[2020-04-07 14:44] #266 closed

[2020-04-07 15:08] TBRC-JimK opened #269 "First image missing on BUDA on some works"
W1FEMC030664
W1FEMC030001BUDA doesn't show the first page, even though it's in the manifest:
  {
    "filename": "I1FEMC030664_0001.jpg",
    "width": 6200,
    "height": 1148,
    "size": 2206867
  },

Similarly W1FEMC030001
{
    "filename": "I1FEMC030001_0001.jpg",
    "width": 6200,
    "height": 2402,
    "size": 2884693
  },

[2020-04-07 15:22] eroux commented on #269
sorry I completely missed your the first time! (got a lot of OCR related spam for a few weeks).

The explanation of the image not appearing is that the viewer doesn't display images of more than 1.5 (or 2, can't remember) MB. The reason is that we still have a very significant number of images of ridiculous size (a lot around 20MB, still many of more than 100MB, mostly color covers from AID of som

[2020-04-07 15:47] dustcats commented on #255
Meanwhile, I traced some other duplicates and a seemingly wrong teacher-student relation. Please check:

- two RIDs exist for རས་ཆེན་དཔལ་འབྱོར་བཟང་པོ།  P7009, P10257
- two RIDs exist for ཀུན་བཟང་རྩེ་པ་བསོད་ནམས་རྒྱལ་མཚན། P10261, P8775
- two RIDs exist for བསོད་ནམས་ཡེ་ཤེས་བཟང་པོ། P2GS1013, P2GS1031
- RID P3050: ཀུན་བཟང་རྩེ་པ་དབང་ཕྱུག་རྒྱལ་མཚན། This lama from Gongkar Choede was probably not the teach

[2020-04-07 16:43] eroux commented on #255
ah thanks a lot! reopening the issue

[2020-04-07 18:00] karmagongde commented on #255
P10257 is already withdrawn and I just have withdrawn P10261.
For P2GS1013 and P2GS1031 both have different titles ཀུན་སྤངས་ཆེན་པོ་བསོད་ནམས་ཡེ་ཤེས་དཔལ་བཟང་པོ།
and མཐོ་བཙུན་བསོད་ནམས་ཡེ་ཤེས་དཔལ་བཟང་པོ། If there is any document which shows both are the same person than I will make the correction.
I removed the P3050 teacher-student relationship with the 3rd Dalai Lama P999.
Thank you.

[2020-04-08 07:28] eroux commented on #243
W.R.T. hyphens, from the user manual of the [ISBN official website](https://www.isbn-international.org/content/isbn-users-manual):

But you're right, the [MARC guidelines](https://www.loc.gov/marc/bibliographic/bd020.html) don't have hyphens, nor do the LOC records ([example](https://lccn.loc.gov/2008044079), [MARC](https://lccn.loc.gov/2008044079/marcxml)). As a matter of fact, I'm already removi

[2020-04-08 14:36] xristy commented on #243
the bibframe-2 already has:
[code]
So the domain is open to ```:Volume``` and so on. I think it would be appropriate to add a shape for ```bf:identifiedBy``` that ties down the specifics of which kinds of ```bf:Identifiers``` are allowed for which entities: ```:Work```, ```:Instance```, ```:Volume```, etc.

[2020-04-09 13:32] eroux commented on #243
(sorry, initially commented on the wrong issue)

[isbn-errors-978.zip](https://github.com/buda-base/owl-schema/files/4456266/isbn-errors-978.zip)

@karmagongde here's a list with less records, I removed:
- the multi-volumes cases (we can't properly record that in the tbrc.org website so you can't really fix that)
- the `pbk.` and `set` cases, I'll automatically migrate that in BUDA (I left one whe

[2020-04-10 17:34] xristy commented on #243
The last character of an ISBN is a check digit calculated mod 11 and when the result is 10 it is [written as Roman numeral ```X```](https://www.isbn.org/faqs_general_questions#isbn_faq5) so that the check digit is always a single character so as to keep the length of the ISBN to exactly 13 (or older 10) characters. The ```X``` can only occur at the end.

As far as I can tell anything after the 13

[2020-04-17 11:06] eroux opened #270 "incoherent teacher/student relationship"
There seems to be an error in the teacher/student relationship between P5557 and P1428, because if the dates in the records are correct, P5557 died 12 years before P1428 was born... @karmagongde what do you think? I can make a query that lists this type of errors if you're interested but let's start with this one

[2020-04-17 11:12] eroux commented on #270
(for a bit of context, according to my friend, P1428 had a Taklung teacher, but he was named Ngawang Namgyel and we have no record for him)

[2020-04-17 19:44] karmagongde commented on #270
I just removed P5557 and added P4902 (Taklung 17th Ngawang Namgyal) to P1428.

[2020-04-22 08:20] eroux opened #271 "missing even pages in volume 8 of W1KG12075"
Hi @karmagongde it seems all the even pages of volume 8 of W1KG12075 are not scanned, starting with page numbered 274 in the original (image number 284 in our viewer). Do we have them in our archives? Thanks!

[2020-04-22 19:38] karmagongde commented on #271
Hi Elie,
I checked in Archive and there are no images for the missing pages of W1KG12075, volume no. 8. We do not have physical text in the office and a scanner person. I will check with other organizations like CIHTS and try to get the missing pages later.

[2020-04-22 19:51] eroux commented on #271
ok thanks! Can you put a short note in the record about it?

[2020-04-22 19:51] #271 closed

[2020-05-12 07:35] eroux opened #272 "tbrcintropages wrong values"
The following have a wrong value for tbrcintropages (0, should be 2):
- W1660
- W7500
- W23703
- W10200
- W20325
- W25185
- W20479
- W21939
- W29193
- W23923
- W19617
- W20510
- W26672
- W1PD83960
- W30532
- W26071
- W22703
- W3CN22341

- W21729
- W23948
- W6486
- W25095
- W26010
- W27478
- W6486
- W20325

[2020-05-16 10:24] eroux opened #273 "missing images for old work records"
Hi @karmagongde I got a request for these: W3CN883 and W3CN1356. They're both relatively old (2014/2015) but I can't find the images anywhere in the backlog... is this something we might have somewhere? If not, we maybe should withdraw them... Best

[2020-05-17 11:14] eroux opened #274 "first page missing in W1KG12766"
Hi all, I'm not sure who I should assign the issue to but the second page of W1KG12766 is missing from our images while it's in the source PDF (I sent it a year ago). Here it is:

http://eroux.fr/1v.jpg

[2020-05-18 15:52] karmagongde commented on #273
Hi @eroux
I am 100% sure the images for these work numbers are in the backlog. I wonder why you did not find them in the backlogs. Some of the TBRCRS needs admin permission and I am not sure I have permission. Travis knows very well of these backlogs and he handles and processes them. 

Regarding the catalog records in the BDRC database, there are few statuses.
1. Work records with the images onli

[2020-05-18 16:02] eroux commented on #273
ok thanks! @TBRC-Travis do you know where these might be on RS5?

[2020-05-18 16:11] TBRC-Travis commented on #273
@eroux these are in our backlog here -- RS5:Incoming/scans/ReadyToProcess/Other

If I can prioritize these in my processing queue if you like.  I'll be sending more works out tonight.

[2020-05-18 16:30] eroux commented on #273
Excellent, thanks! If you are in a state of equanimity towards the backlog then yes please for the prioritization! If it disturbs your workflow don't, I'll find a way to pass these on

[2020-05-18 16:31] eroux commented on #274
@karmagongde what do you think?

[2020-05-18 16:32] TBRC-Travis commented on #273
No problem at all.  I'll have them published this evening.

[2020-05-18 16:35] eroux commented on #273
Thanks a lot!

[2020-05-18 16:45] karmagongde commented on #274
Hi @eroux
Since we have the missing page in the web image is available in the source PDF. It is easy to add and sync by Travis. I will ask him to take care of it.  When it is done, I will let you know.

[2020-05-18 16:51] eroux commented on #274
thanks!

[2020-05-18 19:49] TBRC-Travis commented on #274
@eroux @karmagongde can you point me at the source PDF?  I don't see it in the "sources" directory in the archive.

[2020-05-18 20:00] karmagongde commented on #274
Hi @TBRC-Travis, here is the source PDF link from Elie.
http://eroux.fr/khrulsel.pdf

[2020-05-18 20:02] TBRC-Travis commented on #274
thanks!

[2020-05-18 20:34] TBRC-Travis commented on #274
Fixed.

[2020-05-18 20:34] #274 closed

[2020-05-18 20:43] eroux commented on #274
thanks!

[2020-05-18 23:10] TBRC-Travis commented on #273
These have now been published on tbrc.org:

https://www.tbrc.org/#!rid=W3CN1356
https://www.tbrc.org/#!rid=W3CN883

Their bdrc.io equivalents will likely be available once post-processing completes within the next hour or so.

[2020-05-18 23:10] #273 closed

[2020-05-19 08:21] eroux commented on #273
thanks a lot, appreciated!

[2020-06-12 14:45] TBRC-JimK commented on #261
- [ ] W00KG03818
- [ ] W00KG03984
- [ ] W00KG04002
- [ ] W00KG0545

[2020-06-12 15:30] TBRC-JimK commented on #261
Asking @karmagongde to look into W00KG0545, which has two missing images.
[FAIL-W00KG0545-2020-06-12.10.48.csv.log](https://github.com/buda-base/library-issues/files/4771706/FAIL-W00KG0545-2020-06-12.10.48.csv.log)

[2020-06-12 16:12] karmagongde commented on #261
I checked the contents of images as well as folio numbers of W00KG0545. There are no missing contents/pages. Only the page number jumped (see after I1KG206980454 - )

[2020-06-22 09:51] #265 closed

[2020-06-22 19:19] jimk-bdrc commented on #261
Verified that the penciled in page numbers on each image in W00KG0545 had no gaps in sequence, and fixed the sequence so that audit tool would pass it. Checked on legacy and BUDA.

[2020-06-22 19:19] #261 closed

[2020-06-23 10:07] eroux opened #275 "tbrcHoldings field"
Hi Karma,

I'm investigating the migration of the `tbrcHoldings` field in BUDA. I notice that there are a few different patterns:
- just "1", by far the most common with 21,000 occurences (ex: W27022), what does this mean?
- sometimes a bit more like "2" (ex: W18126) or "4" (ex: W20476)
- sometimes it's clear that we own a real copy, indicated by "tbrc holds inkprint copy" (ex: W00EGS1017093, W249

[2020-06-23 15:35] karmagongde commented on #275
Hi Elie,
Those different patterns in "TBRC Holdings" are changed according to the authority's suggestion in the different time periods.

- In the field "TBRC Holdings" 1 or 2 or 4 etc. are the physical books holds by the TBRC. Around 95% of inkprint books and Pecha are already given to Gene Smith Library in China and GEBIS. Now, the TBRC holdings the "inkprint copy" field became irrelevant. In tho

[2020-06-23 15:42] eroux commented on #275
Excellent, that's really helpful thanks! Do we have a list of what's been given to the library in China and to GEBIS?

[2020-06-23 16:08] karmagongde commented on #275
We do not have any single list of books given to GEBIS.
As well as I don't have every list of books given to the SouthWest University of China. At that time I was not a manager to organize that project.

[2020-06-23 16:32] eroux commented on #275
ok, thanks!

[2020-06-23 19:59] jimk-bdrc opened #276 "Invalid sequence in images directory: multiple instances"

[2020-06-26 12:53] eroux opened #277 "W3PD887 restriction"
Hi Karma, W3PD887 is markes as *temporarilyRestricted*. It's been 4 years now, I'm thinking perhaps this could be made open access? Thanks!

[2020-06-26 13:12] karmagongde commented on #277
Hi Elie,
Sure, I just released W3PD887.
Some of the USAID texts marked Temporarily Restricted are for the safety of the person who provided the texts.
Best,

[2020-06-26 13:14] eroux commented on #272
[imgls.zip](https://github.com/buda-base/library-issues/files/4837089/imgls.zip)

here's a bigger list

[2020-06-26 13:24] eroux commented on #277
excellent, thanks!

[2020-06-26 13:24] #277 closed

[2020-06-26 16:42] xristy commented on #272
The tbrcintro has been updated to 2 for the 2141 imagegroups of the 774 works in the list

[2020-06-26 16:44] eroux commented on #272
excellent, thanks!

[2020-06-26 16:44] #272 closed

[2020-07-16 12:48] eroux opened #278 "wrong printery on W1KG825"
(reported by a scholar) W1KG825 and W294 (i.e. 5th Dalai Lama's collected works in 25 vols.) are not Zhol prints, but seem to be from the dGa' ldan pho brang printery at 'Bras spungs
See, for instance, the colophon of the Fifth Dalai Lama's [དཔལ་ཀུན་ཏུ་བཟང་པོའི་འཆམས་ཀྱི་བརྗེད་བྱང་ལྷའི་རོལ་གར།](https://sakyaresearch.org/sources/3466) and [Three dkar chag's](https://sakyaresearch.org/sources/710) [1

[2020-07-16 12:51] eroux opened #279 "wrong info on W1PD96185"
W1PD96185 is mistakenly identified as being a dPal spungs-redaction of the Rin chen gter mdzod chen mo, but seems to a reprint from the 1909-1912-mTshur phu edition consisting of 63 volumes. The earlier dPal dpungs prints that served as basis for reproduction consisted of 60/61 vols.; see [Schwieger 1990](https://sakyaresearch.org/sources/3386), introduction

[2020-07-16 13:13] eroux commented on #255
@karmagongde can you also take a look at some duplicates that were recently spotted:
- [ ] P0RK270,P4CZ15179
- [ ] P0RK364,P4CZ15180,P4CZ15250 (for these I'm not sure, it seems P4CZ15180 and P4CZ15250 refer to two different persons... but is there a source that explains who is who? in any case, P4CZ15180 and P0RK364 are clearly duplicates)

@dustcats I don't know if you saw Karma's question? quoti

[2020-07-21 15:28] karmagongde commented on #278
Based on Three dkar chag's [1970], I changed the printery source to 'bras spungs dga' ldan pho brang gi par khang for W1KG825 and W294.

[2020-07-21 15:36] eroux commented on #278
excellent, thanks!

[2020-07-21 15:36] #278 closed

[2020-07-21 17:29] karmagongde commented on #279
The images of W1PD96185 are the same as W20578 "a reproduction of the stod-lun mtshur-phu redaction of 'jam-mgon kon-sprul's great work on the unity of the great gter-ma traditions of Tibet. With supplemental texts from the dpal-spuns redaction and other manuscripts."

Volume no. 63 in W1PD96185 is the same as the volume no. 100 in W20578. Since every text does not have the source printery name in

[2020-07-21 17:40] eroux commented on #279
Thanks!

[2020-07-21 20:43] dustcats commented on #279
@karmagongde Yes, apart from the margins the prints are same. W20578 and W1PD96185 are both redactions of the _Rin chen gter mdzod chen mo_ from the mTshur phu edition and W20578 (Paro: Ngodrup and Sherab Drimay, 1976-1980) contains supplements from the Dpal-spungs redaction and other manuscripts which blows up the collection up to 111 volumes.

BDRC W8LS31064 holds a redaction from the dPal spung

[2020-07-21 21:08] dustcats commented on #255
@karmagongde
This is [bZhi 'dzom Rin chen don yod](https://sakyaresearch.org/persons/157) of the Yar rgyab ruling family, a close disciple of the Fourth Shamarpa. His ordination name was bSod nams ye shes dpal bzang po. I checked several Tibetan sources and summarized my findings in [Putting Yar rgyab on the map](https://sakyaresearch.org/sources/1888), pp. 82f. n.

[2020-07-21 21:18] eroux commented on #255
Thanks! The PDF of the article can be found here: https://epub.oeaw.ac.at/0xc1aa5576_0x0038c0ea.pdf

[2020-07-21 21:44] karmagongde commented on #255
Thanks for the documentation. The BDRC Author record P2GS1013 is withdrawn in favor of P2GS1031. I added titles and a teacher to P2GS1031.

[2020-07-22 06:42] eroux commented on #255
Thanks @karmagongde ! Can you also take a look at P0RK270 / P4CZ15179 and P0RK364 / P4CZ15180?

[2020-07-22 14:05] karmagongde commented on #255
@eroux Working on these P# records in between of other works. When it is done, I will inform you.

[2020-07-22 14:09] eroux commented on #255
Thanks a lot!

[2020-07-23 14:04] karmagongde commented on #255
@eroux After moving all the associates work number, outline, lineage transmission, now I Withdrawn P0RK270 in favor of P4CZ15179;
Withdrawn P0RK364 and P4CZ15250 in favor of P4CZ15180.

[2020-07-23 14:13] eroux commented on #255
thanks!

[2020-07-23 14:13] #255 closed

[2020-08-13 16:54] xristy opened #280 "mixed page sizes spoil viewing on library.bdrc.io"
For example in I01CT0073 one sees:

![Screen Shot 2020-08-13 at 11 43 31 AM](https://user-images.githubusercontent.com/3542294/90163168-5c635e80-dd5b-11ea-9ceb-bc80c6756da9.png)

Similar problems appear in other volumes of W01CT0060

[2020-08-13 17:06] xristy opened #281 "pages missing on library.bdrc.io but visible on tbrc.org"
Volume 14 of W01CT0060 has 76 pages, all of which are visible on tbrc.org. On library.bdrc.io only pages 1 - 4, 51, and 76 appear. The viewer reports only 6 images so I suppose it's a dimensions.json problem:

![Screen Shot 2020-08-13 at 11 59 32 AM](https://user-images.githubusercontent.com/3542294/90164084-9123e580-dd5c-11ea-978f-79d68fa5b1fd.png)

[2020-08-13 17:10] eroux commented on #280
it's a feature, I skip all the image that are above 1MB in the manifests, and this volume has almost only images around 6MB. I suppose it should be indicated in a clearer way in the manifest (and thus the UI)... perhaps with an option to get the full manifest with the super big images.

[2020-08-13 17:16] xristy commented on #280
I think it is at least necessary to alert the user that only some available images are being displayed when that occurs. In this case your comment and this one really refer to #281. This issue is about another issue.

[2020-08-13 17:20] xristy commented on #281
referring back to the thread at the tail of #280, a user should be able to download the entire volume even if some images are too to be displayed

[2020-08-13 17:24] eroux commented on #280
oops, indeed, I commented the wrong issue, sorry...

[2020-08-13 17:24] eroux commented on #281
it's a feature, I skip all the image that are above 1MB in the manifests, and this volume has almost only images around 6MB. I suppose it should be indicated in a clearer way in the manifest (and thus the UI)... perhaps with an option to get the full manifest with the super big images.

[2020-08-13 17:25] eroux commented on #281
see https://github.com/buda-base/buda-iiif-presentation/issues/93

[2020-08-14 16:51] xristy commented on #280
The problem is related to the pixel dimensions versus the dpi. The first image is at 300 dpi, the eighth image is 600 dpi and the rest are 200 dpi. When normalized via `page-width / dpi` all are 14.5"

Some possible solution directions are:
- interrogate the dpi from image metadata on-the-fly in iiif
- add the dpi per image to dimensions.json
- normalize the images on S3 to a common dpi,

I think

[2020-08-14 17:41] eroux commented on #280
I think adding the dpi to dimensions.json is the best idea yes. It has a few caveats, such as the dpi not being a metadata that can be encoded in modern formats (like jpg2000, etc.), but here it would be the best solution. Maybe opening an issue in https://github.com/buda-base/volume-manifest-builder would be best. Do you know where the code that adjusts the dpi in the PDF generation is on tbrc.or

[2020-08-14 17:55] xristy commented on #280
I'll look at the pdf code but I suspect it is in the PDFLib where it's happening. I don't recall writing any specific normalization code.

Add [issue to vmb](https://github.com/buda-base/volume-manifest-builder/issues/33).

[2020-08-14 17:56] eroux commented on #280
hmmm ok, interesting! I wonder what the logic is, it would be useful to understand it, both for the PDF and the iiif manifests

[2020-08-18 17:08] TBRC-Travis opened #282 "Add CTC 17 to website"
Karma has selected the works for CTC 17, see [here for details](https://github.com/buda-base/archive-ops/issues/148)

In the past we've only had to do this for tbrc.org but this of course will need to be updated on BUDA now as well

[2020-08-18 18:51] xristy commented on #282
PR01CTC17 created and the 230 works added to it. Link from CTC page on tbrc.org added.

To Do: create a 17 thumbnail

[2020-08-25 14:28] TBRC-Travis commented on #282
Thanks @xristy.  It's showing up as expected here:  https://www.tbrc.org/#!specials/core/ctc17

Are we planning to create a similar landing page for the new site?

Also do you want me to create a separate ticket for the thumbnail or just leave this open.

[2020-08-25 14:32] xristy commented on #282
It seems reasonable to have a CTC page. That's a call for @eroux. I think a separate issue is reasonable somewhere, like public-digital-library.

[2020-08-28 14:11] eroux opened #283 "records missing a status on tbrc.org"
The following models don't have a status at all (not released nor withdrawn or anything) and so are not discoverable on tbrc.org (they can't appear in search results) and are not migrated to BUDA. Some of them look like they should be available as they have related persons, works, etc. @karmagongde can you add please a status to them so that they're accessible? thanks!

- [x] P1KG15997
- [x] P4CZ1

[2020-09-01 14:49] karmagongde commented on #283
@eroux The above checked marked listed records are reviewed and changed status accordingly.
But, the following records are changed to Provisional. Kelsang will use these P# numbers later.
P4CZ16781......Provisional
P4CZ15460.....Provisional
P4CZ16822.....Provisional
P4CZ15631......Provisional
Best,

[2020-09-01 16:11] eroux commented on #283
Thanks! It seems the operation didn't work on some records though... for instance P4CZ16899 still doesn't have a status although it's checked in the list and a new log entry has been created... but most records look ok

[2020-09-01 16:27] karmagongde commented on #283
@eroux I assigned all the CZ to Kelsang and she missed it. Anyway, I fixed the P4CZ16899. Now it will work fine.

[2020-09-01 16:29] eroux commented on #283
perfect, thanks!

[2020-09-01 16:29] #283 closed

[2020-09-02 16:32] eroux opened #284 "RIDs of the Lokesh Chandra and NLM collections"
It would be good to be able to get all the RIDs of the Lokesh Chandra and NLM collections. A part can be automated I suppose (especially the `W1NLMxxx`), but a part can't be fully automated... @karmagongde how could we proceed to get the RIDs?

related to https://github.com/buda-base/public-digital-library/issues/245

[2020-09-02 17:07] karmagongde commented on #284
@eroux Regarding RIDs of the Dr. Lokesh Chandra, there are two things, 1. The scanned texts of his collection by Mangaram and 2. Published by international academy of Indian culture, [sata-pitaka series]. For the second one has its own Series Name and Number, Publisher name, location, and date. Are we going to treat them as separate or the same group?
I will try to get full RIDs. In case missed so

[2020-09-02 17:20] eroux commented on #284
hmmm good question... I would think only number 1 could be good in a collection... @JannTibetan what do you think?

[2020-09-05 19:20] eroux opened #286 "Recently synced rKTs collections"
Looking at the recent syncs, I noticed a few things coming from rKTs so I asked @brunogml what they were, it turns out they are 5 volumes kept in Tsharang (in Kinnaur, so not the same as Tsharang in Mustang) that the team in Vienna took pictures of in 2012. The corresponding RIDs are:
- W3JT13714
- W3JT13716

But there are many others in the same RID range, such as:
- W3JT13715
- W3JT13717
- W3JT1

[2020-09-08 11:56] eroux commented on #286
Note that W1PD127348 and W1PD127771 are also from Vienna but have the provenance information (monastery, etc.) in a note. I'm starting to think that a collection for the Viennese scans (`Cultural History of the Western Himalaya-Project, "Tibetan Manuscripts" (University of Vienna)`) would be relevant... what do you think @xristy ? There would be all the RIDs that we cited plus:
- W3CN1317
- W1PD12

[2020-09-09 15:10] xristy opened #287 "O4CZ302059 has incomplete locations"
The outline, `O4CZ302059`, for [`W4CZ301924`](https://www.tbrc.org/#!rid=W4CZ301924), appears to have entries for various texts but there is no info about the pages in volume 1.

[2020-09-09 17:32] brunogml commented on #286
W3JT13714  to W3JT13718 (W3JT13718 has no images) are from a Nunnery in Tsharang (Kinnaur)
https://www.google.at/maps/@31.4272402,78.5817694,1131m/data=!3m1!1e3
The nunnery hosts a large collection of mss, but we get permission to photograph only 5 volumes.
W3JT13719 is from Lari (Kinnaur).
For the rest, I have to check further (W3JT13723 and W3JT137124 have no images)

[2020-09-09 17:41] eroux commented on #286
Thanks! @karmagongde can you add this info to the records? Also, where are the images of W3JT13723 and W3JT137124? I can't find them on RS5... I'll send Bruno a few images so that he can see what they are

[2020-09-09 17:55] karmagongde commented on #286
All the W3JT has a source note in the catalog record.

![Screen Shot 2020-09-09 at 1 52 11 PM](https://user-images.githubusercontent.com/19337852/92635600-1a6b0100-f2a4-11ea-98f8-36951f0a49af.png)

[2020-09-09 18:25] eroux commented on #286
ooooh thanks, I skipped that! wow, so many different ways to encode the data...

Unrelated: @xristy could you rename the collection to "University of Vienna - Tibetan Manuscript Project Vienna (TMPV)"?

[2020-09-09 19:10] xristy commented on #286
The unrelated change has been made

[2020-09-10 07:33] eroux commented on #286
Ok yes perfect! I think just the name "Namgyal" is a very insufficient description for a place, it's not the most uncommon name of the Tibetan language... for the record it's this Namgyal: https://goo.gl/maps/jzJY63voP6QrS7Ma7 (31.8106387,78.65239)

[2020-09-11 12:45] eroux opened #288 "LTWA special collection"
@karmagongde I think it would be a good idea to have a LTWA special collection, with all their old material (manuscripts and blockprints, not the more recent publications). Are these easy to identify? If so, can you send a list of RIDs that we can turn into a collection? Thanks!

[2020-09-11 15:14] eroux opened #289 ""editing" records with synced images"
Hi @karmagongde this may be normal but just checking. These 7 records:
- W2KG207574
- W2PD17417
- W4CZ307784
- W1KG15909
- W2KG209271
- W1KG15911
- W2KG207346

are in status "editing" but have synced images. Perhaps some of them could be released?

[2020-09-11 15:28] eroux commented on #289
Note also these synchronized works in other non-released status. I guess those are plainly wrong? If you want all these switched to "released" we can make a query.

status seeking out:

- W1KG14364
- W1KG14346

status accessionned:

- W4CZ74086
- W4CZ74318
- W4CZ74318
- W4CZ74318
- W4CZ74217
- W4CZ74421
- W4CZ74421
- W4CZ74421
- W4CZ74100
- W4CZ74193
- W3CN6618
- W3CN6618
- W4CZ74412
- W4CZ74089
-

[2020-09-11 15:35] eroux commented on #289
Also note that some of these are in CTC16 like W4PD3593 so I don't think people are able to access it even though they paid for it

[2020-09-11 16:37] karmagongde commented on #289
@eroux
I see the status "accessioned" problem. Sometime in 2017, Jan 24, unknowingly batch of work numbers were converted to "accessioned" by a script. We will fix them. (see screenshot)

![Screen Shot 2020-09-11 at 11 38 48 AM](https://user-images.githubusercontent.com/19337852/92949544-4237a180-f429-11ea-9f3e-3757ab67ef90.png)

[2020-09-11 16:44] eroux commented on #289
Yes I saw that too, it's weird... thanks for fixing the status, that will add 200 more scans to our collection at almost no cost, that's quite good!

[2020-09-11 17:31] eroux commented on #289
Also, these other records have been made accessioned with the same script and are still accessioned, maybe they should be released too?

- W1GS9
- W1KG1096
- W1KG16158
- W1KG16277
- W1KG16452
- W1KG17282
- W29493
- W2DB4623
- W2DB4625
- W3CN3027
- W3CN3028
- W3CN4361
- W4CZ74085
- W4CZ74093
- W4CZ74096
- W4CZ74097
- W4CZ74175
- W4CZ74175
- W4CZ74324
- W4CZ74369

[2020-09-11 19:28] karmagongde commented on #288
@eroux Could you please help to pull all the work numbers and title associated to LTWA (publisher name):
<library of tibetan works and archives>
 <bod kyi dpe mdzod khang >
Please add W2KG210295 into LTWA list.
W1KG13607 (this work is from rKTs, so please do not add with LTWA)

And also CIHTS:
<central institute of higher tibetan studies>
<dbus bod kyi ches mtho'i gtsug lag slob gnyer khang>
<wA N

[2020-09-11 19:33] eroux commented on #288
sure. I'm not sure we want the books published by LTWA though, only the old manuscripts they have... but yes, I can prepare some queries

[2020-09-11 19:42] karmagongde commented on #288
@eroux In the previous post, the Publisher names are not shown because of only one (<>).

LTWA:
<<library of tibetan works and archives>>
<<bod kyi dpe mdzod khang >>

CIHTS:
<<central institute of higher tibetan studies>>
<<dbus bod kyi ches mtho'i gtsug lag slob gnyer khang >>
<<wA Na dbus bod kyi gtsug lag slob gnyer khang >>

[2020-09-15 16:11] karmagongde commented on #289
@eroux Changing the status of the Above listed work numbers are done.

[2020-09-15 16:21] eroux commented on #289
wonderful, thanks!

[2020-09-15 16:21] #289 closed

[2020-09-17 14:38] xristy opened #290 "Adding another Bibliographic Note on NLM Work number"
ACIP gave a list of donor/supporter names for the NLM scanning project which needs to add on the NLM work numbers.

Could you please write a script and batch import them to the catalog records on another "Bibliographic Note Field".

The same work will repeat in the future sponsor so the script will be useful in the future too.

[Bibliographic note for NLM donor.xlsx](https://github.com/buda-base/l

[2020-09-18 16:31] xristy commented on #290
Done. @karmagongde see [https://www.tbrc.org/docs/nlm/summary-Bibliographic_note_for_NLM_donor-20200917-2020-09-18T16:18:28.69Z.txt](https://www.tbrc.org/docs/nlm/summary-Bibliographic_note_for_NLM_donor-20200917-2020-09-18T16:18:28.69Z.txt)

[2020-09-18 17:37] karmagongde commented on #290
@xristy Hi Chris, Thank you very much for importing the donor's name in the NLM Work number. It saved lots of Librarians time.
Best,
Karma

[2020-09-22 09:43] #286 closed

[2020-09-22 09:45] eroux opened #291 "reimporting ttbbc spreadsheet"
This spreadsheet:

https://docs.google.com/spreadsheets/d/1rJ4B-1EpXlby8EmpX53jlFfgaZWpPOJOWYLj1nZripw/edit#gid=0

was imported but a field is wrong: the "bibliographic note" should be a "scan info"

[2020-09-22 09:55] eroux commented on #291
sorry, false alarm, this is a migration bug

[2020-09-22 09:59] eroux commented on #291
sorry again, there is indeed a problem, it's in the pubinfo: the biblioNote in https://www.tbrc.org/xmldoc?rid=MW0TTBBC0009 shouldn't be there, @xristy can you please remove it?

[2020-09-22 14:36] xristy commented on #291
@eroux so you want all of the TiBET records to have the
[code]
deleted?

[2020-09-22 14:48] eroux commented on #291
yes

[2020-09-22 14:49] xristy commented on #291
Specifically, the records `MW0TTBBC0001` - `MW0TTBBC0091`.

[2020-09-22 14:50] eroux commented on #291
note that there's a gap at 17

[2020-09-22 14:53] xristy commented on #291
Referring to [TTBBC RID](https://docs.google.com/spreadsheets/d/1rJ4B-1EpXlby8EmpX53jlFfgaZWpPOJOWYLj1nZripw/edit#gid=0) above I see no gap at 17?! There appear to be 91 entries numbered 01 - 91

[2020-09-22 15:17] xristy commented on #291
Done

[2020-09-22 15:27] eroux commented on #291
excellent, thanks!

[2020-09-22 15:27] #291 closed

[2020-09-30 02:54] jeehuajian opened #292 "Space instead of Tsek"
In the following image of book Title has two minor mistake,
1) Need to remove Tsek and replace it with space(marked with red arrow).
2) Need remove both the Shad "།" and Tsek " ་ ". Replace it with space (marked with red round). [Link](https://library.bdrc.io/show/bdr:MW8LS16008?tabs=bdr:W8LS16008)

![image](https://user-images.githubusercontent.com/42564256/94637531-6c82cd80-030a-11eb-9196-4c5d19

[2020-09-30 17:44] eroux opened #293 "scanInfo value in W8LS15972"
In the data about W8LS15972 (https://www.tbrc.org/xmldoc?rid=W8LS15972) there's

[code]

which doesn't appear on

https://www.tbrc.org/#!rid=W8LS15972

That's the first mystery. The second mystery is that this has been digitized by rKTs with a camera (not scanned, and not by BDRC). So I'm wondering where this indication comes from? This is quite a problem as it is visible on BUDA (although it's no

[2020-09-30 18:32] karmagongde commented on #293
@eroux During generating the scan request, there are only default options to select "scanned at TBRC or Delhi". The scanned by Mangaram are selected "Delhi" and the rest are "TBRC". In the old website, this field is not displayed. So, it avoids all the confusion and misunderstanding. Just like NLM told us the images are not scanned at TBRC, so Travis replaced all the scan requests 2 pages with bla

[2020-09-30 18:41] eroux commented on #293
ooooh ok thanks a lot! I'll ignore the data that says it's scanned at tbrc (because it doesn't say really give any information), but I think I'll keep the information that it's been scanned in Delhi, as I think this one would be accurate?

[2020-09-30 18:42] #293 closed

[2020-10-01 08:15] eroux opened #294 "understanding scanInfo"
I'm trying to migrate the scanInfo property properly, and there seems to be a bit of digital archeology needed...

## What the values mean

There are 4 main groups of values for the scanInfo:
- `Scanned at Tibetan Buddhist Resource Center, 1430 Massachusetts Ave, 5th Floor, Cambridge, Mass` which we established doesn't mean anything
- `Scanned at Tibetan Buddhist Resource Center, 150 West 17th St,

[2020-10-01 15:44] xristy commented on #294
The first - third values signify the address of TBRC HQ at various times. The second and third are the same location, just an immaterial change designating the affiliation with Rubin. The fourth is Mangram's scanning operation in India. I'm not sure what all is covered by the fifth, it would likely include some of Paldor's work but maybe others. @karmagongde  probably is knowing.

I'm not familiar

[2020-10-01 17:45] karmagongde commented on #294
On the scan request comments: **RFP#** and **DPL480 RFP#** are related to the USAID Project images payment and both are the same. These notes are added at the beginning of the USAID Project started. Later these numbers are not available at the time of generating the scan request so there is no **RFP#** or **DPL480 RPF#** in the later work numbers for the USAID image.

As I mentioned in an earlier

[2020-10-01 17:52] eroux commented on #294
Ah ok thanks! Can I remove these RFP / DPL480 indications or do you think they can be useful? It's too bad that these things are inconsistent... but well. I still have a little bit of hope for option 2 and 3...

In any case, here's the list of the PL480:

[pl480.txt](https://github.com/buda-base/library-issues/files/5313935/pl480.txt)

[2020-10-01 17:54] eroux commented on #294
For instance W23453 (which BTW looks like a PL480 and is not in the list) is recorded as being scanned in NY... do you think it has been? Also, perhaps the works recorded as scanned in NY could be good candidates for the PL480

[2020-10-01 18:12] xristy commented on #294
I don't think there's a distinction between 2 and 3 regarding whether the scanning actually occured in the office or not. There was a change in the address info at some point for a reason I don't remember. The address info is compiled into the editor. As Karma mentions TBRC doesn't necessarily indicate that scanning actually took place in the office. The Mass address ceased implying the scanning h

[2020-10-01 18:25] eroux commented on #294
hmmm ok... maybe we can reconstruct a timeline?
- year ??? TBRC moves to Cambridge
- year 2015-2016 no scanning happens in the US anymore
- year ??? the DLMS starts to be used with 3 possible values (tbrc, Delhi, other)

Also, do you think the value is reliable for pre-DLMS records?

[2020-10-01 18:37] karmagongde commented on #294
Thank you for the PL480 list. You will see lots of them are created by Gene la, a few Chozin and Some are mine work numbers.
During cataloging, we check in LoC catalog to get LC Call Number, LCCN, and PL480. All the PL 480 texts has it's own identy number such as (i-tib1319).

In the LoC catalog records which have the PL 480 info, we add them on TBRC catalog. The text do not have PL 480 number in

[2020-10-01 18:58] xristy commented on #294
I think Lauren has queried LoC for the pl480 info and the number of results were significantly less than expected. Jeff and Lauren I think have estimates of how many pl480 works there are.

The older works such as W23504 and W23453 with a second LoC page don't necessarily mean pl480 because once people had been mentored by Gene via pl480 funds, then those people in many cases continued to locate,

[2020-10-01 19:48] eroux commented on #294
ok! @xristy  What do you think of the timeline on https://github.com/buda-base/library-issues/issues/294#issuecomment-702316675 ?

[2020-10-01 20:10] xristy commented on #294
It should also include when the scanning ceased in Cambridge, which I don't know.

the earliest scan request record, based on log entry, in exist-db should establish the earliest date at which the dlms editor was in use.

I don't remember when the Cambridge office got up and running but the ealiest records w/ scaninfo showing Cambridge should establish the initial time for #1 and whatever Karma et

[2020-10-01 20:22] eroux commented on #294
ah yes, thanks a lot! I'll investigate all that tomorrow

[2020-10-02 08:45] eroux commented on #294
Here's a bit of data archeology:

- the earliest logentry in a scanrequest is in [SR00EGS1016200](https://www.tbrc.org/xmldoc?rid=SR00EGS1016200) for [W00EGS1016199](https://www.tbrc.org/xmldoc?rid=W00EGS1016199) with the value `2006-10-23T09:33:08.109Z`.
- pre-DLMS works can have the Cambridge scaninfo value in some cases such as [W22065](https://www.tbrc.org/xmldoc?rid=W22065), it is even relati

[2020-10-02 08:57] eroux commented on #294
Finally, note that we don't have any scanInfo for the FPL works, for comparison we have for EAP:

[code]

@TBRC-pmench what do you think would be a good comment about the digitization of the FPL works? (something that would include the place, sponsors, etc.)

[2020-10-02 14:45] TBRC-pmench commented on #294
"This manuscript was digitized with the generous support of Khyentse Foundation, in partnership with the Fragile Palm Leaves Foundation."

Is the location needed in this note? Isn't provenance elsewhere in the metadata?

[2020-10-02 14:46] eroux commented on #294
I think the location of the scanning (as opposed to the location where the manuscript is) would be good yes

[2020-10-02 14:58] TBRC-pmench commented on #294
Oh those are the same place. They're being scanned onsite. So we could say:

"This manuscript was digitized at the Fragile Palm Leaves Foundation in Thailand with the generous support of Khyentse Foundation."

[2020-10-02 15:08] xristy commented on #294
Ooops on my part! I had forgotten that the venue description for scan requests is a preference setting:

![Screen Shot 2020-10-02 at 10 01 52 AM](https://user-images.githubusercontent.com/3542294/94938663-c3b5a900-0496-11eb-9b31-c1be34c82ab5.png)

So for W2KG5033 evidently @karmagongde modified the "TBRC Venue Description"

This also explains why the old address is still being used for Cambridge.

[2020-10-02 15:10] xristy commented on #294
Gene cataloged a bunch of his holdings well before they were scanned do to resource limitations so later scan requests were generated much later

[2020-10-02 15:21] xristy commented on #294
That seems fine. I assume that you will retain that the scanning was performed at _M/S Satluj Infotech Images in Delhi_. This is/was Mangaram's company that was established for scanning Gene's images and should be retained somehow.

Well there were items actually scanned at the Cambridge office. @karmagongde should be able to help clarify here.

There were 2-3 people scanning full time at the NYC

[2020-10-02 15:23] eroux commented on #294
yes

yes, but afaict there's no way to know what was scanned at Cambridge and what wasn't (although I'm happy to be contradicted)

Oh you mean some people were scanning in NY even after the move to Cambridge in 2013??

[2020-10-02 15:33] xristy commented on #294
sorry I missed the _posterior_ modifier. No. There was no scanning in NYC after the office moved to Cambridge

[2020-10-02 15:56] Klhamo commented on #294
No were scanning in NY even after the move to Cambridge in 2012

[2020-10-02 15:58] Klhamo commented on #294
until mid 2012,  3 people scanning in  NY  and scanning in we move to Cambridge,   then only one person scanning

[2020-10-02 15:59] Klhamo commented on #294
until mid 2017

[2020-10-02 16:07] Klhamo commented on #294
My apology,   scanning Cambridge stopped  2016 April

[2020-10-02 16:22] Klhamo commented on #294
No  scanning in NY after the move to Cambridge in mid 2012
Until mid 2012, three people are scanning in NY and after we move to Cambridge, then only one person scanning until at Cambridge stopped 2016 April.

MAY ALL BEINGS BE HAPPY!
Kelsang Lhamo (ཆོས་འཛིན།)
Buddhist Digital Resource Center

[2020-10-02 16:46] xristy opened #295 "Update scanInfos"
All Works in PR1VIENNA00 should have their scanInfo replaced with

    "Digitization by the Cultural History of the Western Himalaya-Project "Tibetan Manuscripts" (University of Vienna)"

all the W1FPL* records could have their scanInfo set to

    "This manuscript was digitized at the Fragile Palm Leaves Foundation in Thailand with the generous support of Khyentse Foundation."

[2020-10-02 17:30] eroux commented on #294
excellent, this is really helpful! I'll reajust the location (Cambridge vs. NY) according to the date

[2020-10-04 18:25] eroux opened #296 "strange volumes in W4CZ7445"
we're missing some volumes in W4CZ7445, namely:
- I1KG9936
- I1KG9939
- I1KG9958
- I1KG9967

but instead of just being empty they contain the scan request images + a picture of a yellow cloth... it's really not ideal as this means we don't indicate the volumes as being absent and tease the users with the first image, but there's really nothing there. Could we remove the images in these image group

[2020-10-04 18:46] karmagongde commented on #296
@eroux A note of missing volumes is already on the catalog record. Users will know the missing volumes from it.

@TBRC-Travis Could you please remove empty volumes I1KG9936, I1KG9939, I1KG9958, and I1KG9967 from the website.
Thank you!
![Screen Shot 2020-10-04 at 2 43 14 PM](https://user-images.githubusercontent.com/19337852/95024319-4e8dd380-0650-11eb-94bd-b4848b8d3e55.png)

[2020-10-04 19:03] eroux commented on #296
ok thanks! I think removing the one image in each volume will make for a better user experience, especially on BUDA

[2020-10-05 12:48] karmagongde commented on #296
@TBRC-Travis Also, please remove the empty volumes no. 36, 46, 75, 85 from **W1PD127393**, - I1PD127495, I1PD127505, I1PD127534, and I1PD127544. Thanks.

[2020-10-05 16:32] xristy commented on #295
All 95 of PR1VIENNA00 have been updated

All 11196 of PR1FPL01 have been updated.

Note the `<w:scanInfo/>` isn't displayed on tbrc.org

[2020-10-05 16:53] eroux commented on #295
thanks!

[2020-10-06 16:46] karmagongde commented on #294
@eroux Hi Elie, I am generating a scan-request for the books PDF format provided by Drepung Loseling Library, Mungod, Karnataka, India. What scan information need to show on our new website and how? 
Thanks!

[2020-10-06 16:57] eroux commented on #294
Hi Karma! I've never really been able to run the DLMS so I don't really know how to change the value of the scanInfo, but @xristy maybe you know about that? Maybe it can be changed using the configuration given in https://github.com/buda-base/library-issues/issues/294#issuecomment-702789093 ?

Another option would be to put the value in the comment of the scanrequest (as the first part saying "Sca

[2020-10-06 18:25] xristy commented on #294
@karmagongde The scan request wizard has a drop down to select TBRC or Delhi and below that is "other". Select that and just enter whatever the scan info is supposed to be for what you're doing and that should do it.

[2020-10-06 18:54] karmagongde commented on #294
@xristy I just generated a scan request for W2KG216524 as you have suggested. Selected the "other" and add the "scan info" in the comments: Even select the "Other" in the scan request dropdown menu it shows the "Scanned at Tibetan Buddhist Resource Center, 1430 ..."

[2020-10-06 19:29] eroux commented on #294
What you did is ok, in the migration to BUDA, only the part that says "Scanned images are made available through the kind support of Drepung Loseling Educational Society, Mundgod, Karnataka" will be migrated, not the first part. I'll show you in a few days when the next migration happens. In any case, thanks for filling this data well, I think this will be a good improvement!

[2020-10-06 19:32] xristy commented on #294
@karmagongde Well go into the Editor preferences and select DLMS Production Manager, and erase the TBRC Venue Description:

![Screen Shot 2020-10-06 at 2 25 57 PM](https://user-images.githubusercontent.com/3542294/95250974-78760000-07e0-11eb-8386-927db5b1b85e.png)

Then just put the desired comments. The resulting element will look like:

    <work:scanInfo>Scanned at . Comments: generous support

[2020-10-06 19:33] eroux commented on #294
sure, I can add some code to spot that too

[2020-10-06 19:35] karmagongde commented on #294
@xristy @eroux Sure, I will do that. Thank you.

[2020-10-07 09:01] eroux commented on #295
Sorry, another request on that: on the `W1NPL*` can we add this scanInfo:

[code]

? Thanks! This is part of a note, if it's easy to remove it it would be fine, if not it's ok too

[2020-10-07 09:43] eroux opened #297 "understanding publisherName / publisherLocation / sourcePrintery"
For modern publications (like W8LS26619) and facsimile (like W1KG12093) I understand the notion of publisher, but it seems there is another pattern of use and it seems quite recent: for instance on woodblocks such as W1NLM519 we have a publisherName and a publisherLocation.

In that case I suppose the publisherLocation is the place of production? If so, why not use the appropriate field and link t

[2020-10-07 09:43] eroux commented on #297
@karmagongde wdyt?

[2020-10-07 10:23] eroux commented on #294
@karmagongde thanks for setting the scaninfo of W2KG216524! Just a small request, can you phrase it so that it starts with something like "scanned at" or "scanned by", or "scans made available by"? it's just for consistency as other values are like that too... no need to change what you've done already. Thanks!

[2020-10-07 14:19] TBRC-Travis commented on #296
@eroux @karmagongde I've removed the empty image groups for W4CZ7445.

On tbrc.org they're showing up as expected now ("Page images not yet available for this Volume") but on library.bdrc.io they display with a "loading manifest..." message which obviously never loads:

![image](https://user-images.githubusercontent.com/19354126/95343419-80887b00-0886-11eb-8d71-66947371da64.png)

[2020-10-07 14:27] eroux commented on #296
thanks! I'll take a look at the "loading manifest..." thing

[2020-10-07 14:29] karmagongde commented on #296
@TBRC-Travis @eroux I checked with vol. no. 69 and looks fine. [Images not yet available.] Please see the screenshot.

![Screen Shot 2020-10-07 at 10 26 18 AM](https://user-images.githubusercontent.com/19337852/95344576-c98cff00-0887-11eb-83b6-73396652df91.png)

[2020-10-07 14:35] xristy commented on #295
I don't find any works with RIDs matching `W1NPL*`.

[2020-10-07 14:36] TBRC-Travis commented on #296
@karmagongde well we're both right.  if you access the volume through the "extended properties" view then it brings up the page as you said.  but if you go through the IIIF browser and scroll down to the volume it shows up as I said.  :)

[2020-10-07 14:44] eroux commented on #296
reported on https://github.com/buda-base/public-digital-library/issues/289 , closing this issue. Thanks again!

[2020-10-07 14:44] #296 closed

[2020-10-07 14:51] eroux commented on #295
oh, right, I forgot they exist only in BUDA sorry!

[2020-10-07 14:51] #295 closed

[2020-10-07 15:29] TBRC-Travis commented on #296
@karmagongde I've removed the empty volumes from W1PD127393 as well.

[2020-10-07 16:56] karmagongde commented on #296
@TBRC-Travis  Thank you, Travis.

[2020-10-08 15:48] karmagongde opened #298 "PL480 PublisherName list"
@xristy @eroux @JannTibetan
Dear Chris and Elie,

Here are the publisher's names who have published Tibetan texts from 1965 to 1985. The listed names are according to the printed names on the texts. The publishers used various different spellings and formats and the listed names are from our PublisherName metadata and I kept all as it is.

I know there are missing books of PL480 in our collection.

[2020-10-08 17:09] eroux commented on #294
@xristy another quick request, can we update the scanInfo of the works in PR1PEMAKOD00 to:

[code]

? Thanks!

[2020-10-08 17:53] xristy commented on #294
All 6 works in `PR1PEMAKOD00` have been updated

[2020-10-08 18:03] eroux commented on #294
excellent, thanks! BTW Karma the scanInfo on https://library.bdrc.io/show/bdr:W2KG216524 looks good!

[2020-10-08 18:03] #294 closed

[2020-10-09 12:13] eroux opened #299 "out of order volumes in W4CZ7445"
currently we have:

vol 30 = I1KG9897 = khri rgyad ka
vol 31 = I1KG9898 = khri rgyad kha
vol 32 = I1KG9899 = khri rgyad ga / khri pa ga
vol 33 = I1KG9900 = khri pa nga
vol 34 = I1KG9901 = shes rab sna tshogs kA
vol 35 = I1KG9902 = nyi khri ka
vol 36 = I1KG9903 = nyi khri kha
vol 37 = I1KG9904 = nyi khri ga
vol 38 = I1KG9905 = nyi khri nga
vol 39 = I1KG9906 = brgyad stong ka

but according to Adars

[2020-10-09 12:55] karmagongde commented on #299
I will reorder these volumes according to them. So, both the outline and images folders on the Archive will be the same. This won't need to create a new scan-request but have to Re-sync these 10 volumes.

[2020-10-09 13:11] eroux commented on #299
Ok thanks! I'm not sure what you mean by "both the outline and images folders on the Archive will be the same"?

[2020-10-09 13:20] karmagongde commented on #299
The order of the Image Group will be in the right order in both.

[2020-10-09 13:31] eroux commented on #299
ok, I understand the appeal of having the alphabetical order of the image group IDs corresponding to the order of volumes, but it's really inconvenient to move images from one image group id to another:
- it takes more time on your side and on AO's side too
- moving forward it's really best if images and volume URLs don't change, so that our partners can use them directly

If you rename all the im

[2020-10-09 15:00] TBRC-Travis commented on #299
yes, I agree.  if we can leave the same image group IDs but just change the volume numbers that would be ideal.

[2020-10-09 15:07] TBRC-Travis commented on #280
@eroux @xristy just a heads up here that new material being synced now includes a dimensions.json file with dpi info.  this of course doesn't address the existing material in our archive.  seems like AO should create a background process to update all the dimensions.json for all the existing material with the relevant DPI info?

[2020-10-09 15:09] TBRC-Travis commented on #282
@eroux what do you think?  should we create a separate request to add a CTC page and close out this ticket?

[2020-10-09 15:12] eroux commented on #280
Ah excellent, thanks! Here are a few ideas:
- before redoing the dimensions.json for everything, let's just recreate the one of I01CT0073, so that we can implement some code for the PDF generation, etc. and make sure it's really worth it
- also, I have a small request: could we have the dpi in the dimensions.json only when it's not the same for all the images? If it's always the same then we don't

[2020-10-09 15:19] TBRC-Travis commented on #280
sure.  I can take care of that.

good idea!  that seems like a nice optimization to our manifestForWork code that Jim wrote and would also be useful for some planned uses I have for it as well.  @jimk-bdrc what do you think?

[2020-10-09 15:42] karmagongde commented on #299
Only to display on the website simply changing the volume numbers would be fine. I think when we distribute for CTC, DLD, Lineage Drive the order of the volume won't match which is on the outline unless these are changed on Archive.

[2020-10-09 15:48] eroux commented on #299
hmm, that's an interesting point... @xristy do you know if there might be a way to fix this? Maybe prefixing the image group id by the volume number in the folder name ?

[2020-10-09 16:00] xristy commented on #299
I'm sorry. I actually don't understand the problem. I see that what was volume 30 will now be volume 34, and so on. But I'm not sure where the outline for the CTC, DLD, and Lineage Drives is being generated. I don't know how putting the volume num in front of the imagegroup folder name will help other than gyrating a bunch of s/w.

[2020-10-09 16:09] eroux commented on #299
hmm I don't either... well... in any case, I'm importing the outline from rKTs into BUDA so it won't be on tbrc.org anyways

[2020-10-09 16:11] TBRC-Travis commented on #299
I'm not knowledgeable about how this will affect outlines but in terms of prepending the volume number to the image group id, this would be helpful for ordering things correctly when physical media is involved.  In the past I believe @karmagongde has requested that I move the images around so that they match the corresponding new image group number, which requires all the images to be renamed and

[2020-10-09 16:11] xristy commented on #299
so the correction is just in BUDA and there are no CTC, DLD, or Lineage Drive issues it seem

[2020-10-09 16:12] TBRC-Travis commented on #299
@xristy I'm not knowledgeable about how this will affect outlines but in terms of prepending the volume number to the image group id, this would be helpful for ordering things correctly when physical media is involved.  In the past I believe @karmagongde has requested that I move the images around so that they match the corresponding new image group number, which requires all the images to be rena

[2020-10-09 16:12] TBRC-Travis commented on #299
whoops.  @xristy I accidentally deleted your comment rather than my own.  sorry!

[2020-10-09 16:13] xristy commented on #299
so the correction is just in BUDA and there are no CTC, DLD, or Lineage Drive issues it seems

[2020-10-09 21:00] TBRC-Travis commented on #280
@eroux I've updated the dimensions.json files for W01CT0060 with the updated DPI info.  But so you know, Chris and I normalized the DPI of the images awhile back so this is no longer a good example of images that have mixed DPIs.  You'll need to find a different test case for PDF generation.

[2020-10-09 21:07] eroux commented on #280
Ah thanks! Hmm... @xristy would you have some idea for another work that might have mixed dpis?

[2020-10-09 21:25] TBRC-Travis commented on #280
It will be difficult to find such a work in any of our recent material as I check images for DPI consistency.  Older works will be most likely to suffer from mixed DPI.

Alternatively, if you wish I could purposely change the DPI of some images in W01CT0060 just for testing purposes and then I could change them back after we're done testing.  Up to you.

[2020-10-09 21:36] xristy commented on #280
I don't know of another instance. I found that once since I'd received a request for that work and went to BUDA to view and get the PDFs.

[2020-10-10 10:53] eroux commented on #299
@karmagongde the volumes of W3CN20612 are also in an unusual order... Inside sections the volumes are ok, but the sections are unusual:
- vol 1-12: bum
- vol 13-15: nyi khri
- vol 16: brgyas stong
- vol 17-22: dkon brtsegs
- vol 23-26: phal chen
- vol 27-30: khri brgyad / khri pa
- vol 31-62: mdo sde
- vol 63-75: 'dul ba
- vol 76: shes rab sna tshogs
- vol 77-96: rgyud 'bum
- vol 97-98: gzungs 'du

[2020-10-10 10:55] eroux commented on #299
(my preference would be to reorder them now)

[2020-10-12 12:52] jimk-bdrc commented on #280
The problem with having only the exceptional DPIs in the json is that there is no data of what the standard for the rest of the set is. (does 74 dpi indicate a small deviation from 72 dpi, or a big deviation from 300dpi?) It's simpler code for v-m-b to just emit, rather than try to make decisions about what the "right"dpi is or should be - you have to scan the whole volume and then go back and fig

[2020-10-12 13:02] eroux commented on #280
Hmm I'm not sure I understand... it's not a question of right/wrong dpi, it's just a matter of: is it homogeneous (strictly the same on all images) or heterogeneous (is there at least 1 pair of images with a different dpi)... I'm just not sure adding an information for each image that's irrelevant 99% of the time is really worth the additional bytes...

[2020-10-12 15:20] karmagongde commented on #299
Generally, all the Kangyur, Tengyur, and multi volumes sets should be arranged according to their volume order listed on Karchag. If the Karchag is missing, we have to compare the contents with similar works and arrange the order of the volumes.

The reviewed the Karchag of W3CN20612 and it is the same as other Derge Kangyur. So I will arrange the volume order of W3CN20612 as other Derge Kangyur.

[2020-10-12 15:27] eroux commented on #299
ok great! Well, if we order volumes according to the karchag, then I think W1PD96684 is also out of order as vol 61 (I1PD106713) should be volume 1 according to the karchag if I understand correctly... I'm not sure what the overall order should be though, according to the rKTs outline, vol 61 should be "mdo sna tshogs, i", but I couldn't locate it.

[2020-10-13 13:56] eroux opened #300 "missing images in W3CN1302 / I3CN1308"
Volume 5 (I3CN1308) of W3CN1302 is strangely lacking some images. I've asked Bruno for their scans and he sent me what he has: http://eroux.fr/tsarang/05.zip . The first thing to note is that these images are in black and white while ours are in color... I'm not sure how we got the color images? The main problem is that there are many more black and white images in this volume than there are color

[2020-10-13 14:04] TBRC-Travis commented on #300
@eroux would it be possible to get color images of the missing pages?  if B&W is the best we can do then I would vote for adding them to the same image group.  I don't like the idea of having duplicates as it gets a little confusing in terms of image management but if BUDA has a mechanism for hiding duplicates from view then technically I suppose it's okay to have them around.

@karmagongde when t

[2020-10-13 14:36] eroux commented on #300
rKTs does seem to only have B&W images, so AFAIK we can't get the color images for the rest... but parts of the story are still unclear (like: where did we get the color images from?) so maybe that will change.

We have a mechanism to hide duplicates in BUDA yes, that won't be a problem.

[2020-10-13 15:49] karmagongde commented on #299
@TBRC-Travis @eroux
Hi Travis,
I have uploaded the 10 volumes of W4CZ7445 to replacement and a full set of Kangyur W3CN20612 in ReadyToProcess/Replacement. 
For the 10 volume partial replacement, I did the renaming and it is ready to sync. I checked the web images and Archive images of W4CZ7445 and both look like the same size. Please double-check and if it is the same size, please replace the Arc

[2020-10-13 15:58] TBRC-Travis commented on #299
Excellent.  Thanks @karmagongde.  I'll work on this later today or tomorrow.

[2020-10-13 16:12] brunogml commented on #300
Please just wait a couple of days. I am sure that the B&W and the color images are mine. I must check what happend here. It will take some days before I'm gone through all my old drives. Thank for being patient.

[2020-10-13 18:08] karmagongde commented on #300
@brunogml Thank you for looking the both images from your backup storage. I can't find beside the online posted. According to the the catalog record we received both from you.
@eroux Elie, I am not able download the images you have posted online.  http://eroux.fr/tsarang/completebnw.zip
It said, completebnw.zip can't be downloaded securely.

[2020-10-13 18:58] eroux commented on #300
@karmagongde I've unzipped the images in `Incoming/Inbox/scans/Inbox/W3CN1302` on RS5

[2020-10-13 21:37] karmagongde commented on #300
@eroux Thank Elie, I checked the images you have uploaded and the back ground is black and scripts are white. I hope Bruno have a better images.

[2020-10-14 11:32] eroux commented on #299
@karmagongde I'd like to raise the topic during today's meeting as this will lead to a lot of additional work on my side (to fix all the files in https://github.com/brunogml/rKTs/tree/master/paginations/3CN20612 that give the correspondence between page number and image file)... If there's a real use case not to do so I'm ok to do it, but I'm still not sure what you're referring to. Can you please

[2020-10-14 11:54] TBRC-Travis commented on #299
@eroux perhaps the three of us can have a meeting specifically about this?  I'm not sure the staff meeting is the right venue to have this kind of detailed discussion.

[2020-10-14 12:28] eroux commented on #299
sure, why not. Maybe we could involve Jim too? What would be a good time for such a meeting?

[2020-10-14 12:45] TBRC-Travis commented on #299
Sure.  Tomorrow looks pretty open.  11am EST?

[2020-10-14 12:48] eroux commented on #299
ok yes, that would work for me

[2020-10-14 14:26] karmagongde commented on #299
@eroux I created a volume order spreadsheet for W3CN20612. I hope this will help to reorder the GitHub volume order so you don't have to fix any paginations.
[W3CN20612-volume-order.xlsx](https://github.com/buda-base/library-issues/files/5378818/W3CN20612-volume-order.xlsx)

[2020-10-14 14:47] karmagongde commented on #299
Since volume order rearranged according to the Derge Karchag the two Biblio pages generated at the scan request it shows volume 1 of 103, volume 2 of 103 etc. So it needs to change as volume orders. Travis will add the correct two scan request biblio pages during the renaming. Therefore the pagination in GitHub will remain the same counts.

Image Group number OR image numbers are often irregular?

[2020-10-14 14:55] eroux commented on #299
image names are often irregular, for instance:
- sometimes a number is missing (sometimes it indicates a missing page, sometimes not), for instance in [I1KG9128](http://iiifpres.bdrc.io/il/v:bdr:I1KG9128) there's no file `I1KG91280003.jpg` but it doesn't indicate a missing page
- sometimes there are funny names, like `I1GS660450502a.tif` in [I1GS66045](http://iiifpres.bdrc.io/il/v:bdr:I1GS66045)
a

[2020-10-14 18:38] JannTibetan commented on #299
When we work with partners to share data we want the work to be simple and practical. Another concern is to provide our partners with persistent, unchanging URLs. If BDRC changes our IIIF endpoints often then other organizations will be leery of using our images and metadata. For these reasons I would like the resolution to this issue to not involve renaming and resending images. We can make the n

[2020-10-14 18:51] xristy commented on #299
Regarding the ordering of volumes in [`W3CN20612`](https://www.tbrc.org/#!rid=W3CN20612) and [`W4CZ7445`](https://www.tbrc.org/#!rid=W4CZ7445) the appropriate solution is to simply reorder the imagegroups in the volume maps of the two work records.

Why?
- There are **no** Outlines on tbrc.org (or currently on BUDA) that will need to be corrected.
- [`W3CN20612`](https://www.tbrc.org/#!rid=W3CN206

[2020-10-15 08:32] eroux commented on #299
I've updated the volume maps of W1PD96684, W3CN20612 and W4CZ7445, I'm going to update the rKTs outlines and reimport them. @karmagongde can you double check? I'll close the issue tomorrow if there's no further problem

[2020-10-15 13:57] karmagongde commented on #299
@eroux Thanks for updating volume maps. Now the volume orders are displayed fine on the Website as listed on Karchag. Please note: in **W1PD96684** the volume no. 62 (ཨི་དུམ་པ། འཕགས་པ་བསྐལ་པ་བཟང་པོ་པ་ཞེས་བྱ་བ་ཐེག་པ་ཆེན་པོའི་མདོ།) is missing in Peking Kangyur from Dr. Raghu Vira and Dr. Lokesh Chandra collection.

[2020-10-15 13:59] eroux commented on #299
Yes, this is a strange feature of tbrc.org which doesn't display the volume number of the metadata... it should be fixed on BUDA (after tomorrow's migration that will have the changes I made)

[2020-10-15 13:59] #299 closed

[2020-10-20 08:41] eroux opened #301 "cataloging printeries"
Hi @karmagongde ,

In order to import the TiBET / TTBBC catalog, it would be helpful to add the following missing places. I try to present them below in a form that should make it easier to catalog, but the original file is [here](http://booksdb.socanth.cam.ac.uk:8080/exist/apps/TTBBC/data/refsources/places.xml). You can find a bit of information in [this article](https://www.researchgate.net/publ

[2020-10-20 14:09] karmagongde commented on #301
@eroux I will create records for the listed place and printery names.

[2020-10-20 14:28] eroux commented on #301
excellent, thanks!

[2020-10-20 17:03] eroux commented on #300
I'll let Bruno answer in more details if he has time, but in short, the filming was made on the side of the NGMPP project with some leftover materials, and there aren't color images for everything... so there's no color images for this volume outside of those we already have. @karmagongde or @TBRC-Travis can you copy the black and white images (for all volumes) to some `source/`directory (I don't

[2020-10-20 17:09] karmagongde commented on #301
@eroux Here are the Place record numbers. For the Printery names added "par khang /"
G2KG220149 = sbas yul skyid mo lung /
G2KG220150 = chab rom phug
G2KG220151 = chab rom phug gi par khang /
G2KG220152 = khams gsum g.yul las rnam rgyal /
G2KG220153 = khams gsum g.yul las rnam rgyal gyi par khang /
G2KG220154 = mdzo lhas par khang /
G2KG220155 = la 'debs/
G2KG220156 = a ti sha'i chos 'khor par kha

[2020-10-20 17:13] eroux commented on #301
excellent, thanks!

[2020-10-20 17:13] #301 closed

[2020-10-20 17:50] TBRC-Travis commented on #300
@eroux ok, good to know.  sounds like we'll just move forward with the b&w images from Bruno for this volume and reconcile anything that had color images available.  in terms of the "sources" directory for this work there's already one in the archive but I'll take a closer look and sort it out.

[2020-10-20 18:09] eroux commented on #300
perfect thanks! It's interesting, I actually took a look at the archives the other day to check the source directory but couldn't find it... I guess I didn't look correctly, which path does it have?

[2020-10-20 18:11] TBRC-Travis commented on #300
where were you looking?

[2020-10-20 18:23] eroux commented on #300
sorry, just found it, forget about it! Not sure what I did the last time...

[2020-10-20 18:32] TBRC-Travis commented on #300
great

[2020-10-21 11:57] brunogml opened #302 "Bardan Mss RID"
I noticed that BDRC ascribes 7 Work RID to the Bardan Collection (https://www.tbrc.org/#library_BannerSearchResults-&quot;bardan&quot;), but all these manuscripts belong to the same collection, and the pagination goes uninterrupted through 5 of them. Can you ocheck please. Thanks.

[2020-10-21 12:07] eroux commented on #302
The URL of the search doesn't work but the RIDs are:
- W8LS15931 / I8LS15936
- W8LS15932 / I8LS15938
- W8LS15939 / I8LS15941
- W8LS15942 / I8LS15944
- W8LS15946 / I8LS15950
- W8LS15945 / I8LS15948
- W8LS15951 / I8LS15953

@brunogml can you indicate the correct order of these?

[2020-10-22 12:21] eroux commented on #302
@karmagongde I can't find the images for W8LS15931 / I8LS15936, do you know where they might be on rs5? Also, it seems volume zha is missing, do you know if we have the images somewhere?

[2020-10-22 12:54] karmagongde commented on #302
@eroux  The image of W8LS15931-I8LS15936 is located at Incoming/scans/ReadyToProcess/Mangaram/ReceivedFromMangaram/W8LS15931.
If volume Zha does not have work numbers means it is missing. We do not have another place to look for volume Zha. All the images from the University of Vienna are cataloged and images should be in ReadyToProcess.

[2020-10-22 13:51] eroux commented on #302
Thanks! Found it. I think volume zha is after volume wa in W8LS15945

[2020-10-22 13:53] eroux commented on #302
So I guess this leaves the following question: @karmagongde is there a reason why these volumes are split in different works? If not can we just move all the image groups to one of the works? (ccing @TBRC-Travis as this will require some movements in the archive too)

[2020-10-22 15:43] karmagongde commented on #302
The librarian LS has cataloged individual. Many times it is dependent on how the folder received with sub-folders or instruction.

We can group under one work number. Please refresh the work numbers and the volume order to make them in one group.

Actually, volume zha is with volume wa in W8LS15945, see image number 47. Looks like both of them are incomplete volume.

[2020-10-22 16:20] eroux commented on #302
Ok thanks!

Let's make one work, it can be a new one or else let's use W8LS15931, it could be named `bka' 'gyur (bardan)` (@brunogml what's the proper Tibetan for Bardan?), and there could be a note saying that not everything has been photographed.

For the imagegroups, we could do the following so that it matches the [catalog of rKTs](https://github.com/brunogml/rKTs/blob/master/zzz%20in%20progre

[2020-10-22 16:40] brunogml commented on #302
bardan is 'bar gdan dkon pa

[2020-10-22 17:33] brunogml commented on #302
![IMG_20201022_193202.jpg](https://user-images.githubusercontent.com/29774037/96908770-6319fa80-149d-11eb-81ea-63483855384d.jpg)

[2020-10-22 17:48] karmagongde commented on #302
I modified the catalog record W8LS15931 for bka' 'gyur/ ('bar gdan dgon pa/).

When I get confirmation of the numbers of volumes in this set I will generate the scan-request. @brunogml Please let me know the exact volume numbers and any notes to add. Thanks, Borno for the info image.

[2020-10-26 19:12] eroux commented on #302
@karmagongde the mystery is now partially solved, so in the new work there should be, in that order:
- I8LS15936
- I8LS15938
- I8LS15941
- I8LS15944
- I8LS15948 but taking only img 1 to 46
- new volume taking img 47 to the end of I8LS15948
- I8LS15950
- a new volume containing the images in `/Incoming/scans/Inbox/Bruno/Bardan/8 gser 'od`
- a new volume containing the images in `/Incoming/scans/Inb

[2020-10-26 19:25] karmagongde commented on #302
@eroux Ok, I will generate 9 volumes for W8LS15931, bka' 'gyur/ ('bar gdan dgon pa/).
Thanks.

[2020-10-26 19:29] eroux commented on #302
excellent, thanks!

[2020-10-26 19:42] brunogml commented on #302
I would rater call it mdo mang than bka' 'gyur

[2020-10-26 20:17] karmagongde commented on #302
@brunogml Thanks Bruno. Title Kagyur is too broad. I changed the title of W8LS15931, please check.
Also, please add a note for Scanned by:
So, I can add when I generate the scan-request.

'bar gdan dgon par bzhugs pa'i rgyud dang mdo sde sogs pod khag cig/
'bar gdan dgon pa gsang sngags chos gling du bzhugs pa'i rgyud dang mdo sde sogs kyi pod khag cig/

[2020-10-26 20:21] eroux commented on #302
the scaninfo for all the Viennese works is `Digitization by the Cultural History of the Western Himalaya-Project "Tibetan Manuscripts" (University of Vienna)`, @brunogml if it works for you maybe we can keep this one?

[2020-10-26 21:40] karmagongde opened #303 "Sync work document file of W2KG5037"
Drepung Loseling Pethub Khangtsen Education Society gave us 45 volumes of Je Yabse Sungbum W2KG5037 in both the PDF and Word document files.

The PDF files are already synced by Travis. Now need help to sync the word document files of W2KG5037. It included the texts which are not in other collection and it is a comparative edition.

The work document file of W2KG5037 (UT2KG5037) is located at: Inc

[2020-10-26 21:46] eroux commented on #303
ah excellent! @ngawangtrinley do you think this could be imported in OP?

[2020-10-26 23:50] TBRC-Travis commented on #303
@karmagongde I've moved these to Incoming/scans/Inbox/eTexts/UT2KG5037 as these don't follow the standard syncing process and don't have a place in the archive.  @eroux or @nt should be able to find a proper home for these.

[2020-10-27 00:08] karmagongde commented on #303
@TBRC-Travis Early one does not have volume no. 45. They sent me this volume on weekend and now it is a complete set.

[2020-10-27 00:11] karmagongde commented on #303
Please let me know if UT2KG5037 can't sync. I have to let Drepung Loseling Pethub Khangtsen Education Society know.

[2020-10-27 04:09] brunogml commented on #302
We changed "University of Vienna Cultural History of the Western Himalaya Project" into "University of Vienna - Tibetan Manuscript Project Vienna (TMPV)".

[2020-10-27 18:49] eroux commented on #302
@karmagongde sorry for this last minute change, but the two images that are in the `/Incoming/scans/Inbox/Bruno/Bardan/MNS` folder are actually color versions of two images that are in `/Incoming/scans/ReadyToProcess/Mangaram/ReceivedFromMangaram/W8LS15931/images/W8LS15931-I8LS15936` (`I8LS159360009.jpg` and `I8LS159360010.jpg`), so they can be moved in I8LS15936 instead of going in a separate one

[2020-10-27 20:36] karmagongde commented on #302
@TBRC-Travis Could you please help to copy all the web images and archive images of the following work numbers from Archive and move them at Incoming/scans/Inbox/Bruno. These all are combining into W8LS15931 and making 9 volumes set. I will arrange them in the volume order.

W8LS15932 / I8LS15938
W8LS15939 / I8LS15941
W8LS15942 / I8LS15944
W8LS15946 / I8LS15950
W8LS15945 / I8LS15948
W8LS15951 / I8

[2020-10-27 21:09] TBRC-Travis commented on #302
@karmagongde I've copied all of these works here for you:  `Inbox/Bruno/Bardan/CopiedFromArchive`

[2020-10-28 10:25] eroux opened #304 "works about themselves"
@karmagongde there are two works that are "isCommentaryOf" of "isInstanceOf" themselves:
- W8LS16303
- W1KG1625

I'm not sure what this actually means but I think there might be better ways to encode it? This creates some bogus display on BUDA so I'm thinking maybe we could change these? Thanks!

[2020-10-28 13:37] karmagongde commented on #304
@eroux Just corrected both the work numbers with the right conceptual work number.

[2020-10-28 13:55] eroux commented on #304
excellent, thanks a lot!

[2020-10-28 13:55] #304 closed

[2020-10-28 18:05] xristy opened #305 "Chinese translation of the text titles"
Hi Team,

Just a brief explanation of the purpose of this project (translating text titles to Chinese):
Requested by Prof. He of ZJU;
Important in terms of complying with laws and requirements in China (we had experienced in the past that content of training materials in Tibetan language only been taken down instantly from the online platform);
May help with fundraising in the Chinese speaking com

[2020-10-28 18:05] xristy commented on #305
If Élie can provide a list of the Work RIDs on ZJU disk then I can put together a csv/spreadsheet.

[2020-10-28 21:41] karmagongde commented on #302
@TBRC-Travis Hi Travis, I have arranged all the volumes with subfolders. Volume no. 1. does not have the Archive and Source folders. Rest has all the folder, Archive, Images, and Source.

These need to rename. Every images folder has the JSON file and I kept as it is.

The images are located at: incoming/scans/ReadyToProcess/Replacement/W8LS15931.

After syncing this work number W8LS15931, Please

[2020-10-28 21:45] TBRC-Travis commented on #302
@karmagongde sounds good.  I'll work on this tomorrow.

[2020-10-29 10:48] eroux opened #306 "titles with wrong lang tags"
@karmagongde while extracting the titles from the database I spotted a few titles tagged with the wrong language:
- in W1KG23517 there's an English title tagged as Chinese
- in W2PD16797 there's a Tibetan titles tagged as Chinese

[2020-10-29 11:59] eroux commented on #300
@TBRC-Travis @karmagongde what are the next steps for this? Travis, are you ready to process the images or should Karma do some additional manipulation?

[2020-10-29 13:06] karmagongde commented on #306
@eroux Just fixed the language and encoding of both the work numbers.

[2020-10-29 13:14] eroux commented on #306
thanks!

[2020-10-29 13:14] #306 closed

[2020-10-29 14:09] #305 closed

[2020-10-29 14:54] TBRC-Travis commented on #300
@eroux I mistakenly thought we were waiting on images here.  looking back through the thread it seems we have everything we need.  I'll take a look at this later today.

[2020-10-29 14:57] eroux commented on #300
excellent, thanks!

[2020-10-29 18:17] karmagongde commented on #290
@xristy @JannTibetan Hi Chris, Here is another list of donor's name for the NLM scanning Project from ACIP and BDRC. This is similar to the last one. When you get time, please help to import them to the catalog records with another "Bibliographic Note Field"
Here is a link to the list:
https://docs.google.com/spreadsheets/d/1_hTDtM9X8g9mGk5d5Ma-xEOFeTgZeUi330xtz9XZHMA/edit#gid=299780623

Thank you

[2020-10-29 18:30] JannTibetan commented on #290
Thank you @karmagongde and @xristy

[2020-10-30 12:39] TBRC-Travis commented on #300
@eroux I sent the B&W images over to Tim for cropping.  We'll have this sorted out sometime next week.

[2020-10-30 14:27] eroux commented on #300
ok, thanks for the update!

[2020-10-31 14:47] eroux commented on #298
Here's a list of works that have the names you mention as publisherName:

[potentialPL480.csv.zip](https://github.com/buda-base/library-issues/files/5469269/potentialPL480.csv.zip)

It has 627 entries. I've checked that it doesn't have any of the works already identified as pl480 in https://github.com/buda-base/library-issues/issues/294#issuecomment-702298463

[2020-10-31 14:47] eroux commented on #298
Ideally we could record the PL480 identifier for all these, it could be done in the spreadsheet directly

[2020-10-31 15:09] eroux commented on #292
thanks! It's fixed now

[2020-10-31 15:09] #292 closed

[2020-10-31 15:10] #275 closed

[2020-11-02 15:52] #284 closed

[2020-11-02 15:53] eroux commented on #282
here it is: https://library.bdrc.io/search?r=bdr:PR1CTC17&t=Scan&s=title%20forced

[2020-11-02 17:34] karmagongde commented on #298
@eroux Thank you, this list is very helpful. If it is not too much work, could you please add the publisher date/year in this list. This will help us to make more accurate PL480 books based on the publications date/year. Some of the publisher might have published books after the period (1965-1985) of the PL480.

Also, could you please pull all the work numbers which has PL 480 with the publisher n

[2020-11-02 18:11] eroux commented on #298
ah, right, I'll compile that tomorrow

[2020-11-02 18:40] eroux commented on #298
here's the list of PL480 we have in our database, with publisher and publisher date:

[pl480.zip](https://github.com/buda-base/library-issues/files/5477259/pl480.zip)

[2020-11-02 19:32] karmagongde commented on #298
Thank you for the list of the publisher and publication date. This will help us more accurate PL480 texts and very potential PL480 texts. I found a few of them are not PL480 rather it is an Overseas acq no. in the LoC catalog. For instant, W00EGS1017345.
Cross-checking with Publication date and Publishers will help to identify a more accurate list of PL480.

[2020-11-02 19:47] eroux commented on #298
great! here's the list of works by the publishers you listed, with the publication date, without the ones with a pl480 in our database:

[allpubsfromlistnopl4802.zip](https://github.com/buda-base/library-issues/files/5477628/allpubsfromlistnopl4802.zip)

[2020-11-02 19:53] eroux opened #307 "updating scaninfo for works scanned in China"
we should update the scanInfo of these works:

[china-rids.txt](https://github.com/buda-base/library-issues/files/5477647/china-rids.txt)

to:

`Scanned or acquired in Tibetan areas of China by BDRC`

[2020-11-02 20:17] xristy commented on #303
@karmagongde I may be able to resurrect the toolchain to do the conversion from MS Word to the TEI Unicode format that is used on tbc.org, but I may not be able to.

Best would be if @ngawangtrinley could create Open Pecha for W2KG5037 since that is the preferred format for BUDA. It preserves the correspondence between scanned page images and eText pagination. The old-style conversion will do that

[2020-11-02 20:34] karmagongde commented on #303
@xristy Chris, Thank you for the explanation. Now I learned there are different formats. Elie asked NT and did not get any response from him. Maybe NT is not receiving Github's post. Tomorrow, I will Skype NT to ask about eText syncing.

[2020-11-02 20:55] TBRC-Travis commented on #303
@karmagongde I Skyped NT about this already.  I expect we'll hear from him later tonight or tomorrow.

[2020-11-02 20:59] xristy commented on #307
Out of 2414 entries in the list, the scanInfo for 2369 Works were updated.

There were 45 works that contained extraneous content, mostly in the form of an appended "-\dv" or "-V\d" etc:

[china-rids-spurious.txt](https://github.com/buda-base/library-issues/files/5477979/china-rids-spurious.txt)

[2020-11-02 21:23] eroux commented on #307
Ah excellent, thanks! I didn't notice those... could you update it also for

W3CN22971
W3CN23000
W3CN25663
W3CN25679
W3CN25735

? (They're a cleaned up version of the list of broken ones)

[2020-11-02 23:04] xristy commented on #307
The 5 Works have been updated

[2020-11-03 01:51] ngawangtrinley commented on #303
Sorry for the late reply, the message was lost in a wave of github notifications and I missed it. Yes @eroux we can upload it as OPF, we're creating and upload interface actually. This time please send me the files we'll process them today.

[2020-11-03 03:15] karmagongde commented on #303
@ngawangtrinley Hi NT, I will share the eText of W2KG5037 through google drive share. Please let me when the eTexts are processed. Thank you.

[2020-11-03 07:28] eroux commented on #307
great, thanks!

[2020-11-03 07:28] #307 closed

[2020-11-03 19:49] TBRC-Travis commented on #300
@eroux can you check the images in 09-rgyud-Ta-(Tha)?  It seems that 067.tif through 081.tif are corrupted and wondering if you have good copies of these or not.

[2020-11-03 20:06] eroux commented on #300
ah indeed, thanks for spotting that! I've asked Bruno, let's see... that shouldn't impact the volume to crop though right? It's volume 5 (or are there images missing in volume 9 too?)

[2020-11-03 20:11] TBRC-Travis commented on #300
ok great.  let's see what Bruno comes back with.  it doesn't impact volume 5 but we're cropping all the volumes just in case we need to rely on the B&W images for whatever reason they'll be ready to go.

[2020-11-03 21:13] TBRC-Travis commented on #302
@karmagongde W8LS15931 is now synced and online:  https://library.bdrc.io/show/bdr:W8LS15931

Please review the images and let me know if they look good.  Once you've verified the images I will delete the old work numbers.

[2020-11-03 21:27] eroux commented on #302
thanks a lot!

[2020-11-04 14:30] eroux commented on #302
@karmagongde also if the images look good to you, can you withdraw the other records?

[2020-11-04 14:55] karmagongde commented on #302
@TBRC-Travis @eroux Hi Travis, I checked the images in W8LS15931 and looks fine. Also, I have withdrawn the following work numbers in favor of W8LS15931. So, please remove all the folders from Archive. Thank you.
W8LS15932
W8LS15939
W8LS15942
W8LS15945
W8LS15946
W8LS15951

[2020-11-05 08:28] ngawangtrinley commented on #303
@karmagongde I received the texts, and I'm looking into syncing them to the images. We have to setup a workflow to OCR the images to get the line/page information and transfer it to the etext in the MS Word files. We have all the tools needed to do that but @eroux and I need to discuss and decide how to OCR this kind of texts. We can either a) OCR with Namsel on a local machine, b) on the cloud, c

[2020-11-05 09:10] eroux commented on #303
Well, that's a good question... we have some AWS machines that could be used to run Namsel, I can install it there I guess... How much do you estimate the Google OCR would cost?

[2020-11-05 12:27] eroux opened #308 "person events with no type"
Hi @karmagongde @xristy , I notice that we have a lot of person records where the birth event doesn't have a type (ex: P3CN2946, P00KG07869), etc. I've made a request to spot them, here's a result:

[rid-noeventtype.zip](https://github.com/buda-base/library-issues/files/5494311/rid-noeventtype.zip)

There are 546 records. I think most of them are birth dates... I think we have two options:
- go th

[2020-11-05 14:52] karmagongde commented on #308
@eroux The person record with "Circa" on the website are all birth Year. For example, P3CN2946, P00KG07869 has a Year of death, so the "Circa" is the birth year.  On the DLMS the field was Birth, but for some reason, the "birth field" stays "Circa"

Migrate everything automatically would be fine. I checked randomly and found the same cases.

![Screen Shot 2020-11-05 at 9 21 18 AM](https://user-ima

[2020-11-05 15:03] karmagongde commented on #303
@ngawangtrinley  The file I sent you are the Word Document texts. Do the Word Document files has to do OCR?

[2020-11-05 15:22] eroux commented on #303
@karmagongde the OCR is needed to have a precise alignment of the Word Documents with the images

[2020-11-05 15:25] eroux commented on #308
great! @xristy could you make a script to convert the first untyped event of these person to `type="birth"`?

[2020-11-05 15:32] xristy commented on #308
It seems doable

[2020-11-05 15:57] karmagongde commented on #303
@eroux Do you mean the Word Documents are not useful even it is original source of the PDF?

I get that precise alignment, but previously we have synced many word documents from Guru Lama, Karma Lekshey Ling, SerJe Rigdzod Chenmo etc.

[2020-11-05 16:24] eroux commented on #303
The word documents would be what will ultimately go in the etexts, but the OCR would be used in the following way:

- if for instance image 5 is the first page of the Word document, we can't currently know
- we have the OCR of image 5
- we realize it's almost the same (almost because of errors in the OCR) as page 1 as the Word document
- in the etext we indicate "image 5" in the page 1 of the Word

[2020-11-05 16:37] JannTibetan commented on #290
@xristy  @karmagongde   Are the sponsorship statements online yet? I want to show the donor that his name is actually online because it will make him happy and also encourage his Google colleagues to make donations of their own.
Thanks!
Jann

[2020-11-05 17:15] xristy commented on #290
Ooops! I overlooked this last request. As soon as I get access to the spreadsheet I'll get it done.

Apologies

[2020-11-05 17:22] xristy commented on #308
does xmltold already handle circa="b. 1912" and circa="d. 1930" as in [`P2LS297`](https://www.tbrc.org/xmldoc?rid=P2LS297)?

[2020-11-05 17:27] eroux commented on #308
hmmm... not really no... I'll add that tomorrow and will create a new list. how depressing...

[2020-11-05 18:05] karmagongde commented on #308
I asked Lobsang to check and fix the [P2LS297](https://www.tbrc.org/?locale=en&&both=yes#!rid=P2LS297) event Years and now it is corrected.

[2020-11-05 18:16] xristy commented on #290
@karmagongde and @JannTibetan `Batch 2 is now updated. See [`summary-Bibliographic_note_for_NLM_donor-20201105-2020-11-05T18:10:01.7Z.txt`](https://www.tbrc.org/docs/nlm/summary-Bibliographic_note_for_NLM_donor-20201105-2020-11-05T18:10:01.7Z.txt)

[2020-11-05 18:19] JannTibetan commented on #290
Thank you Chris. I'll share this with the donor this afternoon.

[2020-11-05 18:51] xristy commented on #308
I've updated the first event w/o a `type` attribute in each of:

[rid-noeventtype-qrids-nodups.txt](https://github.com/buda-base/library-issues/files/5496306/rid-noeventtype-qrids-nodups.txt)

to have `type="birth"`.

I noted that [`P0RK1295`](https://www.tbrc.org/xmldoc?rid=P0RK1295), for example, has an evident death event without a `type`. I suppose this sort of situation needs treatment as wel

[2020-11-05 19:36] karmagongde commented on #308
I just fixed the P0RK1295.

[2020-11-06 17:11] TBRC-Travis commented on #302
@karmagongde I've removed the images for these withdrawn work numbers:

W8LS15932
W8LS15939
W8LS15942
W8LS15945
W8LS15946
W8LS15951

[2020-11-11 21:10] TBRC-Travis commented on #300
@eroux I've synced the B&W images for the missing pages of Volume 5 (I3CN1308), though for some reason I can't get the viewer to load images for this work now:  https://library.bdrc.io/show/bdr:W3CN1302

also, though the other volumes have color images available I noticed the B&W images are higher resolution.  I'm not sure whether or not we want to replace the color images with the B&W versions bu

[2020-11-11 21:35] eroux commented on #300
thanks! Interesting problem, it's because I created a custom manifest with the old images (to add the pagination) but it only contains the previous images, I'll update it tomorrow

[2020-11-11 21:37] eroux commented on #300
also, interesting consideration about the B&W images... I don't really know what's best... let's keep it that way, I'll ask Bruno if he has an opinion (his team is using the images, he'll know what's more readable). In any case, closing this issue, thanks again!

[2020-11-11 21:37] #300 closed

[2020-11-12 21:25] jimk-bdrc opened #309 "Missing page W1KG10854"
[http://purl.bdrc.io/resource/W1KG10854](http://purl.bdrc.io/resource/W1KG10854)
This will probably be very easy to resolve. The xylograph hardcopy of this text has sequential pagination stamps and the pages with stamps for 217 and 218 have the exact same content, from the same side of a woodblock. This wouldn't be a problem except that the backside of this same woodblock doesn't appear in our sca

[2020-11-12 21:33] jimk-bdrc commented on #309
@karmagongde I copied W1KG10854 to RS5:incoming/library-issues/library-issues-309 so you can look at it and rearrange as needed. Please advise when done, and we can resync.

[2020-11-12 23:41] karmagongde commented on #309
@jimk-bdrc I checked both the images and Archive folders and the missing page is not there. It is a very slim chance that the original hardcopy in our office to scan the missing page. Most likely, it would be in the gave away books/Pecha to GEBIS. Meanwhile, the reader can use/read the same text in book format versions. W15659, W3CN4807, W3CN22830.

[2020-11-16 16:13] eroux opened #310 "fixing a few date formats"
Some dates in the following mess up the migration:
- P1KG4773
- P1PD105577
- P1PD105578
- P6358

the typical case is: `198?` should be `198u`

[2020-11-16 16:18] eroux commented on #310
I just fixed these in Exide

[2020-11-16 16:18] #310 closed

[2020-11-20 10:50] eroux opened #311 "Discrepancies in the FPL/EAP list"
I recently got my hands on the EAP 1150 catalog and I compared the list of images to the ones that is indicated in https://github.com/buda-base/library-issues/issues/242 .

Here are the differences

works in the EAP catalog but not in the original EAP list:
- 10042: W1EAP10042 has images, W1FPL10042 too but is on hold
- 6223: W1EAP6223 has images, W1FPL6223 doesn't but it's released

works in the

[2020-11-20 16:14] TBRC-Travis commented on #311
As part of the EAP project we decided not to withdraw the equivalent FPL records but it does look like we decided to mark them as "onHold".

When we created the initial FPL catalog records years ago all the works were initialized as "released".  In this case, I think we simply forgot to mark W1FPL6223 as "onHold".  W1FPL6223 hasn't been scanned yet which is why there are no images.

[2020-11-20 16:26] TBRC-Travis commented on #311
While attempting to scan W1EAP7030 they discovered that the manuscript was damaged.  We chose another manuscript in its place (W1EAP10042).  W1FPL7030 has no images because it has not been scanned yet as part of the ongoing FPL project.  As mentioned in my previous comment, all FPL records were initialized as "released" when the records were created even though they had not been scanned yet.

As d

[2020-11-20 16:29] TBRC-Travis commented on #311
yes, please update the status of W1FPL6223 to "onHold"

yes, please update the status of W1FPL6078 to "released"

[2020-11-20 16:30] TBRC-pmench commented on #311
6078 was also too damaged to scan. It was replaced by 6223.

[2020-11-20 16:41] eroux commented on #311
ok, thanks everyone! @xristy could you update the following:

- changing the status of W1FPL6223 to onHold
- changing the status of W1FPL6078 to released

[2020-11-20 18:22] xristy commented on #311
Done

[2020-11-20 18:28] eroux commented on #311
excellent, thanks!

[2020-11-20 18:28] #311 closed

[2020-11-24 04:09] karmagongde commented on #303
Any update on the work document file of W2KG5037 (UT2KG5037)?

@ngawangtrinley Also, here is a short text W2KG1678. Tashi Dhondup has input the text and has eText ready with him. He wants to use this text to educate the BDRC web users, particularly in Muge Monastery, Amdo. So, please import the eText on BDRC's new website.

[2020-11-24 11:05] eroux opened #312 "person duplicate"
A quick one I spotted while looking at the latest syncs:
- [x] P0RK982 = P10038

[2020-11-24 13:31] karmagongde commented on #312
@eroux Withdrawn P10038.

[2020-11-24 13:39] eroux commented on #312
thanks!

[2020-11-24 13:39] #312 closed

[2020-11-24 15:50] eroux opened #313 "duplicate place [from ToL]"
The ToL team communicated to me that these two places are the same:
- G1563 and G517

Merging will take a bit of time as both records have some interesting information.

Thanks!

[2020-11-24 19:16] karmagongde commented on #313
@eroux I have withdrawn G517.

[2020-11-24 20:40] eroux commented on #313
thanks!

[2020-11-24 20:40] #313 closed

[2020-11-25 09:28] eroux opened #314 "updating scanInfo"
Hi @xristy could you update the scaninfo for those RIDs:

- W2KG217488
- W2KG217489
- W2KG217490
- W2KG217491
- W4CZ301881
- W3CN2862
- W4CZ301800
- W4CZ301723
- W4CZ301801
- W4CZ301802
- W4CZ301803
- W4CZ301724
- W4CZ301804
- W4CZ301805
- W4CZ301806
- W4CZ301807
- W4CZ301809
- W4CZ301810
- W4CZ301812
- W4CZ301725
- W4CZ301813
- W4CZ301814
- W4CZ301816
- W4CZ301815
- W4CZ301818
- W1KG13838
- W4CZ3

[2020-11-25 10:01] eroux opened #315 "workflow / scripts when no first volume is present"
In a few cases I'm a bit confused about how the app is supposed to know if a volume has images or not. In most cases it's fine but in the case where we don't have the images for the first volume things get a little muddy... W3CN23000 is such a case: the first volume only has two images which are the scan request, but I think the [xml](https://www.tbrc.org/xmldoc?rid=I4CN10546) has all the attribut

[2020-11-25 12:57] xristy commented on #315
One thought is that an imagegroup generated for scan request will have:

    <imagegroup:images tbrcintro="2" total="2"/>

so that could be checked by retrieving the imagegroup xml, [I4CN10546](https://www.tbrc.org/xmldoc?rid=I4CN10546), and checking for

    ig:images/@tbrcintro == ig:images/@total

which will signal a default imagegroup.

[2020-11-25 13:56] TBRC-Travis commented on #315
@eroux this is my bad.  I usually delete these "stub" volumes altogether before I sync a work to avoid this kind of problem.  in this case I forgot.  perhaps it's worth adding a test to audit tool for this so that it triggers an error if a volume only contains scan request files.  what do you think?

[2020-11-25 14:02] eroux commented on #315
Thanks! Yes, perhaps the audit tool would be the earliest point of detection so it would be good to implement it there... but I think adding the test proposed by Chris to the sync script would be good too, no harm in more safeguards

[2020-11-25 15:02] xristy commented on #314
All 38 works updated

[2020-11-25 15:10] eroux commented on #314
excellent, thanks!

[2020-11-25 15:10] #314 closed

[2020-11-26 18:54] eroux opened #316 "bug when trying to open LOC manifest"
see https://library.bdrc.io/show/bdr:W0LOC0001

[2020-11-27 13:51] eroux commented on #316
wrong repo, moved to https://github.com/buda-base/public-digital-library/issues/374

[2020-11-27 13:51] #316 closed

[2020-11-30 13:06] eroux opened #317 "spurious "other label" in associated resources"
see https://library.bdrc.io/search?r=bdr:PR0SBB001&t=Scan&s=title%20forced&pg=1

but the [query](https://purl.bdrc.io/lib/associatedIInstances?R_TYPE=bdo%3AScan&R_RES=bdr%3APR0SBB001&format=json) only returns one label... Is it because the label is in Tibetan Unicode?

It doesn't do that in other cases such as

https://library.bdrc.io/search?r=bdr:PR1VIENNA00&t=Scan&s=title%20forced

[2020-11-30 13:06] eroux commented on #317
sorry, wrong repo!

[2020-11-30 13:06] #317 closed

[2020-12-01 10:45] eroux opened #318 "identifying / creating a few author records"
Hi @karmagongde ,

I'm exploring the import of the [Leiden collection](https://digitalcollections.universiteitleiden.nl/tibetantexts), we have a catalog here:

https://docs.google.com/spreadsheets/d/1BwC9snBK-od6GUM61E10IiDGWJuTSKrw5S1VbDfrqGc/edit#gid=925539164

and I'm working on identifying some of the authors (not all, which would be too much work). There are a few authors that I can't find in

[2020-12-01 11:33] eroux commented on #318
Sorry, I found a few possible matches based on the dates, but I'm not entirely sure:
- dge slong bstan 'dzin (1748-1813) = P308
- dam chos nyi ma'i sdes (1768-1822) has the same dates as P846 and P6899 but neither of them has a similar name, so it's probably another person?
- dad pa mkhan po thugs rje (1770-1835) could be P2063 but I'm not sure...?

[2020-12-01 16:33] karmagongde commented on #318
@eroux Here is BDRC person RID. Two of the author's record is not yet created. I will create it and send it to you.
P311 = mati śīla (1745-1800), maybe a translation of "blo gros tshul khrims"
P308 = dge slong bstan 'dzin (1748-1813)
P846 = dam chos nyi ma'i sdes (1768-1822)
P2063 = dad pa mkhan po thugs rje (1770-1835)
P857 = dge slong bsod snyoms pa rin chen mang thos blo gsal bstan skyong (bo

[2020-12-01 17:18] karmagongde commented on #318
@eroux
P2KG220180 = gu ru rnon rtse (born in 1136)
P2KG220181 = dbyil gyi ston pa (born in 1175)

[2020-12-01 17:28] eroux commented on #318
great, thanks a lot!

[2020-12-02 14:54] eroux commented on #318
Here's another batch, these only have centuries. We have some of these works (but not all it I think), but they don't have associated authors:

- dge slong spong ba rdo rje'i ming can (1720-1803) : same dates as P333 but different name:
   * [lha chos dang mi chos 'brel ba'i bslab bya nor bu'i 'phreng ba](http://hdl.handle.net/1887.1/item:300218)
   * ['phags pa spyan ras gzigs kyi bstod pa po bst

[2020-12-03 16:15] karmagongde commented on #318
@eroux Hi Elie, For most of them, I added #P record. Some are not the actual names.
    • P333 = dge slong spong ba rdo rje'i ming can (1720-1803)
    • P2181 = mitri munīndra (19th century):
    • P3147 = ye shes seng ge (12th century):
    • P2KG220183 = dge legs dpal bzang (19th century):
    • P2KG220184 = karma chos dbang kun bzang nges don bstan 'dzin (19th century):
    • P2KG220185 =  'ja

[2020-12-03 16:18] eroux commented on #318
excellent, thanks a lot!

[2020-12-03 16:32] #318 closed

[2020-12-07 12:08] eroux opened #319 "possible duplicate"
A use is wondering if P1397 and P10638 might be the same person. @karmagongde what do you think?

[2020-12-07 16:53] #302 closed

[2020-12-07 19:17] karmagongde commented on #319
@eroux I checked both the biography and looks different. Anyway many of the works associated with P1397 and selected P10638 and I changed all of them. Both the titles and Teachers are different. P10638 is associated only with W30416. 

[2020-12-07 19:21] eroux commented on #319
thanks a lot!

[2020-12-08 07:57] eroux commented on #319
reopening the issue with new developments and questions from the scholar (who specializes on the history of Minyak): W2PD20096 (now assigned P1397) contains W30416 (the only work assigned to P10638), and W2PD20096  has many referenced to Minyak. So it seems P1397 is probably a duplicate of P10638 after all. What do you think?

Also, he was wondering where the note in P1397 was coming from? as it d

[2020-12-08 14:47] karmagongde commented on #319
@eroux Could you please ask the scholar to share a few references to Minyak in W2PD20096. It will help and save my time looking for those references. And please thank him for pointing out the issue.

The note in P1397 came from W3CN18495 image number 428. 426 is before adding the 2 pages of Biblio introduction pages.
[W3CN18495-I3CN19904-428-428-any.pdf](https://github.com/buda-base/library-issues

[2020-12-08 16:01] eroux commented on #319
Sure! here's the answer

W2PD20096 PDF p 173 contains the autobiograpby of Minyag 'jam dbyangs grags pa. It is the same text as the one edited by Minyag thub sbtan chos dar under the ref W30416. This text contains several references to Minyag. In the manuscript edition, page 177 L6 the blama from Rati (G3785) then a major Monastery in Minyag is mentioned.
Thub bstan chos dar dbu can's edition is e

[2020-12-08 18:05] eroux opened #320 "improvements in translators' data"
here's a duplicate spot by a scholar in Hamburg: P4CZ10547 and P3731 are the same person

[2020-12-09 09:15] eroux commented on #320
here's also part of a foonote from a forthcoming book by Dr Almogi:

[2020-12-10 15:55] #282 closed

[2020-12-10 16:03] TBRC-TimB opened #321 "CTC17 Errata Text File"
We have gotten a few questions from users about missing images or volumes from the CTC17 Hard Drives. When we looked into it, we found that the missing volumes were missing from our collection, and not an error in creating the drives.
We were thinking it would be a nice addition to the CTC drives in the future to have a short text file which lists the known missing images, volumes, or eText from a

[2020-12-11 18:12] eroux commented on #298
P.S.: just as a note, I think W23616 is also in PL480, even though the publisher is not in the list

[2020-12-13 19:30] karmagongde commented on #298
@eroux It looks like W23616 is also a part of PL480.

Also, publisher "Ngodrup and Sherab Drimay" (Drimay with a) name missed in the previous list. Please add.

I checked both the PL480 potential list and found some "publisher names" and some dates won't some under the "PL480" publisher names and time range. So please remove them.
Under pl480.zip list:
W00EGS1017214	bhu tib 473	"dept. of education

[2020-12-14 09:46] eroux commented on #298
Thanks! I've updated the lists to these:

[pl480lists.zip](https://github.com/buda-base/library-issues/files/5687884/pl480lists.zip)

I've removed the ones you listed and added these:

- W20578,Ngodrup and Sherab Drimay,1976-1980,
- W23819,Ngodrup and Sherab Drimay,1979,
- W23727,Ngodrup and Sherab Drimay,1984,
- W6460,Ngodrup and Sherab Drimay,1980,
- W21826,Ngodrup and Sherab Drimay,1977-1981,
-

[2020-12-22 14:25] TBRC-TimB opened #322 "W1KG12670 unable to build zip or pdf on buda"
I have been talking with a user for the past few days who has been having issues with downloading this particular work. When Travis and I looked into it, we found that neither of us could get the site to generate a pdf or zip for us. The work still works on tbrc.org so for now we are redirecting the user there.

[2020-12-22 14:37] eroux commented on #322
thanks! moved to https://github.com/buda-base/public-digital-library/issues/406

[2020-12-22 14:37] #322 closed

[2020-12-23 19:42] #290 closed

[2020-12-23 19:59] karmagongde opened #323 "Adding donor's names on NLM Work numbers"
@xristy Hi Chris, Here is another list of donor's names for the NLM scanning Project from ACIP. When you get time please help to import them to the catalog records with another "Bibliographic Note Field". Thank you.

Here is a link to the list:
https://docs.google.com/spreadsheets/d/1dvIVllpCnV5BXpo1aO7CevsSNfDOnPgyJqGwqCKpoTc/edit#gid=231003007

[2020-12-23 20:43] xristy commented on #323
Thanks. I probably won't get to it today, but I've got all the data.

[2020-12-23 21:35] xristy commented on #323
The records have been updated. See [summary-Bibliographic_note_for_NLM_donor-20201223-2020-12-23T21:31:39.676Z](https://www.tbrc.org/docs/nlm/summary-Bibliographic_note_for_NLM_donor-20201223-2020-12-23T21:31:39.676Z.txt)

[2020-12-23 21:53] karmagongde commented on #323
@xristy Hi Chris, Thank you very much for importing Donor's names. All looks perfect.
I wish you very happy holidays!!!
Karma

[2020-12-23 21:54] #323 closed

[2020-12-24 14:19] eroux commented on #320
@karmagongde would you have time to look at this?

[2020-12-24 14:20] eroux commented on #319
@karmagongde what do you think?

[2020-12-29 19:30] karmagongde commented on #319
@eroux Sorry, since you gave incorrect PDF page number 173 instead of 193, it took time to figure out to find whether these two are the same or different person.

Earlier, I did not find it because of the incorrect page number. Today, I spend more time and found there are the same.
Therefore, I am withdrawing P10638 in favor of P1397.

[2020-12-29 20:39] eroux commented on #319
Excellent, thanks a lot!

[2020-12-29 20:39] #319 closed

[2021-01-04 18:37] karmagongde opened #324 "Adding donor's names on NLM Work numbers batch4"
@xristy Hi Chris, Here is another donor's name for 347 volumes of the NLM scanning Project from ACIP. Please help to import them to the catalog records with another "Bibliographic Note Field". The "work numbers" and the "description on the Website" are listed on the google spreadsheet. Thank you.

Here is a link to the list:
https://docs.google.com/spreadsheets/d/1gi1OeH1X4QzMWdKwtvd6a9-fr-w8DW90U

[2021-01-04 18:49] xristy commented on #324
@karma the updates are done. See [summary-Bibliographic_note_for_NLM_donor-20210103-2021-01-04T18:46:48.834Z](https://www.tbrc.org/docs/nlm/summary-Bibliographic_note_for_NLM_donor-20210103-2021-01-04T18:46:48.834Z.txt)

[2021-01-04 19:48] karmagongde commented on #324
@xristy Thank you very much Chris for importing them. All the perfect.

[2021-01-04 19:48] #324 closed

[2021-01-04 20:49] xristy opened #325 "Public queries not generating CSV file"
Since last month, the following public queries are working fine. Today, there are not generating CSV files.

I often use these public queries for workflow and monthly report purposes. Therefore, these are very useful. Any changes made in the public query or the change of the year 2021 might be affected? Please help.

[https://www.tbrc.org/public?module=archive&query=scanrequests&args=04|2015](http

[2021-01-04 20:55] xristy commented on #325
@karma The scan request query seems to work for me: [Scan Requests for 04/2015](http://tbrc.org/docs/archive/scan-requests-04-2015-2021-01-04Z.csv)

The archive request appears to work for me: [Retrieve spreadsheet here](http://www.tbrc.org/docs/works/archive-2021-01-04T20:47:58.844Z.csv) - takes 5 - 10 minutes

The outline query also appears to work: [Retrieve csv for texts in W12827 here](http:/

[2021-01-04 21:23] karmagongde commented on #325
@xristy Whenever you have time, please check my computer through TeamViewer. Still, I have the same issue of not generating CSV file.

[2021-01-04 22:07] xristy commented on #325
@karmagongde please provide some information about what you are seeing: err messages, screenshot, and so on. I should be able to look at it tomorrow afternoon.

[2021-01-05 00:05] xristy commented on #325
Also @karmagongde since whatever the problem is seems associated with your machine there are some things to try - recalling that you've reported no symptoms:

- clear browser cache
- try another browser
- restart the browser
- restart your computer

These might prove instructive.

Also since this apparently a problem w/ your system, not tbrc.org, @TBRC-Travis or @jimk-bdrc might be a ble to help.

[2021-01-05 14:27] karmagongde commented on #325
Thank you @xristy . I tried everything you have suggested and only working on Firefox. Maybe Google Chrome on my machine could be the issue.
Anyway, when I restart the computer it popup a window (see attached). Should I worry about it? I did not update my machine because of Java compatibility with DLMS.
![Screen Shot 2021-01-05 at 9 04 25 AM](https://user-images.githubusercontent.com/19337852/1036

[2021-01-05 15:06] TBRC-Travis commented on #325
@karmagongde you should make sure your version of Google Chrome is up-to-date.  if you go up to the file menu at the top of the screen and select "Chrome" --> "About Google Chrome" it will tell you if you have the latest version or not.  It should also give you an option to update Chrome if it's not at the latest version.  let me know if that helps.  I'd also be happy to jump on the phone with you

[2021-01-05 15:09] xristy commented on #325
@karmagongde did you try Safari? Since Firefox is working it would seem to point at the browser that you've been using which I'm guessing is chrome. Since Firefox is working you could use that and get your work done.

I am on OSX 10.14.6 with java 8 and there is no problem with DLMS editor on my computer.

I still haven't seen any info on what is going wrong. "It doesn't work" isn't helpful.

The

[2021-01-05 15:55] karmagongde commented on #325
Thank you all. The short term solution is fine with me for now. Since Travis and Jim tested DLMS on Catalina (10.15) and it works fine means my machine can be updated to Catalina (10.15). Right now my machine is running OS Sierra, Version 10.12.6

![Screen Shot 2021-01-05 at 10 52 07 AM](https://user-images.githubusercontent.com/19337852/103667873-75f08700-4f44-11eb-8f19-8aaf38aae73d.png)

[2021-01-06 18:44] eroux commented on #320
@karmagongde what do you think? If you don't have time to dive in the litterature, maybe we can just trust the person who reported it?

[2021-01-06 18:55] karmagongde commented on #320
I checked P4CZ10547 and P3731 and look the same person. In P4CZ10547, the incorrect teacher date 13th cent. is selected. Therefore, I will withdraw P4CZ10547 in favor of P3731. In the future, please ask for a reference source so, it will be easier for me to look and make changes any needed.

[2021-01-06 19:09] karmagongde commented on #320
@eroux It looks like the author is in Tengyur and assumed early year 8th cent. without actual source. Could you please ask for a reference source date of P4CZ10522 in rGyan gyi nyi ’od (and some later/modern Tibetan sources, all of which list
him under the Later Period). So, I can add on the Person Record. Thank you.

[2021-01-06 21:42] karmagongde commented on #320
@eroux I changed the year of P4CZ10522 to 11 century based on the modern author's source. I will add the citation from Dr. Almogi's book after it is published.

[2021-01-06 22:18] eroux commented on #320
Excellent, thanks a lot!

[2021-01-07 07:09] #320 closed

[2021-01-14 17:05] eroux opened #326 "possible duplicate place from ToL"
A reader of ToL noted that G3507 and G3320 are probably duplicates. @karmagongde wdyt?

[2021-01-14 18:05] karmagongde commented on #326
@eroux Comparing the names and notes on these two G# records, it mentioned G3320 is the general name of the place. The name existed before ThangTong Gyalpo.
And G3507 is a particular monastery name established by ThangTong Gyalpo. Therefore, it should be separate G#.

[2021-01-19 08:11] eroux commented on #298
I'm wondering if W8LS73683 might be PL480 too?

[2021-01-20 13:54] karmagongde commented on #298
According to the publisher's name and year, W20876 should be a part of the PL480. But this set does not have the preface as other PL480 texts. Many times there are two sets before publishing as a sample and actual published texts. I still believe this is a part of PL480. I will look for the set which has a preface.

W8LS73683 is definitely a part of PL480.

[2021-01-25 16:43] eroux opened #327 "bug in the outline of Peydurma etext"
seen on https://library.bdrc.io/show/bdr:IE1PD96682 :

![Capture d’écran de 2021-01-25 17-40-50](https://user-images.githubusercontent.com/60868/105736099-ba17eb80-5f34-11eb-8179-33456436cccb.png)

I suspect it's a problem with the data or the query... I'll take a look but I just wanted to report it before I forget

[2021-01-27 14:45] eroux opened #328 "NGMPP material in the backlog"
Hi @karmagongde ,

We've discussed with Jann and it appears it would be helpful to prioritize the NGMPP material in the backlog. Could you catalog it and put in ReadyToProcess ? I've identified NGMPP material in the following directories:
- /Incoming/scans/Inbox/microfilm and microfiche/microfilm
- /Incoming/scans/Inbox/Sheehy Hard Drive Recovered/Hirshberg NGMP pdfs

[2021-01-27 14:59] TBRC-Travis commented on #328
@karmagongde let me know once the cataloging is complete and I'll help you get this material moved over to ReadyToProcess

[2021-01-27 15:19] karmagongde commented on #328
@TBRC-Travis @eroux  These are the part of backlog and librarians have already cataloged in 2017. All the work numbers and IG numbers are on the Google spreadsheet below. There are three tabs. 1. RS3: Photocopies from Hamburg; 2. RS3: Sheehy Hard Drive Recovered; 3. RS4: Sheehy.
https://docs.google.com/spreadsheets/d/10BcOQeMkcPO79YvEgODLKsiZ412bAQs-Gi3HfZIXFSE/edit#gid=2043111283

[2021-01-27 15:25] TBRC-Travis commented on #328
@karmagongde ok, great.  I'll take care of these.

[2021-01-27 15:46] eroux commented on #328
thanks both! @karmagongde are you sure the files in `/Incoming/scans/Inbox/microfilm and microfiche/microfilm` are in there? I only see those in `/Incoming/scans/Inbox/Photocopies from Hamburg`, which is a different folder. I never really understood where the images in `microfilm and microfiche` came from, I'm not sure it's from Hamburg... is it?

[2021-01-27 21:15] karmagongde commented on #328
@eroux I am not sure of the original source of the _microfilm and microfiche images_. Nobody told me when BDRC got these images. The image quality is these are so so. I will check them against any duplication. If we do not have these texts we will catalog them.

[2021-01-27 21:22] TBRC-Travis commented on #328
@karmagongde the microfilm material is not in the Hamburg-Sheehy backlog spreadsheet.  Please provide Work RIDs for the items in Inbox/microfilm and microfiche/microfilm

[2021-01-28 09:55] eroux commented on #328
@karmagongde some of the images in from `microfilm` are duplicate from some of Sheehy. Here's a little summary:
- w0159142_jp2: L888/1  = [40435](https://catalogue.ngmcp.uni-hamburg.de/receive/aaingmcp_tbtdocument_00040435) = W8LS29359 in Sheehy
- w0159143_jp2: ? follow up of previous one?
- w0159144_jp2: L205/8  [47019](https://catalogue.ngmcp.uni-hamburg.de/receive/aaingmcp_tbtdocument_00047019)

[2021-01-28 15:04] TBRC-Travis commented on #328
as for duplicates, yes, it's fine to have duplicate copies in sources/.  usually in this kind of situation I zip up the duplicate copies and just put the zip file in sources.  then in "archive" and "images" folder we can just use the better copy of the images.

having said that, in past conversations about duplicates I thought we were leaning toward keeping them in the image set and then using BUD

[2021-01-28 15:15] eroux commented on #328
great, thanks!

wrt duplicates, here it's a bit different: it's the exact same microfilm that went through 2 independent digitization process, it's not duplicates in the original, microfilm or digitization process. In that case I think it makes more sense to keep the image set that looks best and discard the other entirely.

[2021-01-28 15:37] TBRC-Travis commented on #328
oh interesting!  hmm.  a peculiar use case here.  I almost feel like we should still give the lesser "duplicate" it's on work number to reference and then find a way of restricting it from view (and noting that it's superseded by the better copy).  would there be merit in such an approach?  Otherwise I'm happy to zip up the dupes and put them in sources as mentioned before.

[2021-01-28 15:39] eroux commented on #328
I agree it would make sense yes! I'm not really sure there's a lot to gain in our case though...

[2021-01-28 21:57] karmagongde commented on #328
@eroux Thanks for finding work numbers in Sheehy spreadsheet.
- w0159142_jp2: L888/1 = 40435 = W8LS29359 in Sheehy
- w0159143_jp2: ? follow up of previous one? **[Yes it is continuing of previous folder's page no. 0480, L892/6 = W8LS29246]**
- w0159144_jp2: L205/8 47019 = W8LS29362 in Sheehy
- w0159145_jp2 + w0159146_jp2 : L291/2 47788 not in Sheehy **[on image no._0270, L287/22 = W8LS29335]**
- w

[2021-01-28 21:59] karmagongde commented on #328
W8LS29344 is a duplicate of the W2KG208035 images that are already synced. So, I am withdrawing W8LS29344.

[2021-01-29 15:51] TBRC-Travis commented on #328
@eroux just an update for you - I've passed the Hirshberg NGMP pdfs along to Tim for cropping (https://github.com/buda-base/archive-ops/issues/247).

They will take some time to process.  We should have them online in a few weeks.  If there's a particular urgency to get them published by a particular date please let me know and we can expedite them.

[2021-01-29 15:58] eroux commented on #328
great, thanks! No particular urgency no, it's part of a long term plan for NGMPP

[2021-01-29 16:02] TBRC-Travis commented on #328
Good good.  Will keep you posted.

[2021-01-29 16:32] karmagongde commented on #328
@TBRC-Travis If W8LS29344 is on cropping queue. You can remove it. This is withdrawn in favor of W2KG208035.

[2021-01-29 16:52] TBRC-Travis commented on #328
thanks @karmagongde.  I've removed it from our queue.  should I delete the images for W8LS29344 entirely or is this an instance where we should keep a copy of the images in the archive (zipping them up and keeping them in sources as mentioned previously).

[2021-01-29 16:54] eroux commented on #328
I think we could keep a copy in src/ in that case, it's from another digitization process

[2021-01-29 17:04] TBRC-Travis commented on #328
I'd be in favor of just keeping these in the archive as W8LS29344/sources with no "images" folder.  the other option would be to zip up the images and put them in W2KG208035/sources as an alternate set of images.  what do you think?

also, I think it would be important to capture these distinctions in our metadata so we have a bit of context to understand the connection and context for these digit

[2021-01-29 17:11] eroux commented on #328
yes, the solution with the sources/ folder sounds good. We don't really have expressivity in BUDA wrt that... I think a note would be fine

[2021-02-01 18:19] eroux opened #329 "two volumes inverted for W1KG13126"
currently in W1KG13126 we have:
- vol 77 = I1KG13250 (= dzu)
- vol 81 = I1KG13246 (= bu)

which seems wrong and I think should be fixed to

- vol 77 = I1KG13246 (= bu)
- vol 81 = I1KG13250 (= dzu)

but the logentry says

[code]

so it seems to have been done on purpose... @karmagongde do you remember why the two volumes were inverted?

[2021-02-01 18:38] TBRC-Travis commented on #329
@eroux we addressed this is in a previous issue.  please see #234

[2021-02-01 19:20] eroux commented on #329
hmm ok but I guess we also didn't really address it as the two volumes are still in the wrong order... if there's no planned change (like some sync that hasn't been done yet?), I propose we just switch the two volumes in the volume map without changing the images.

[2021-02-01 19:35] karmagongde commented on #329
Now the volumes are in the right order on tbrc.org.

[2021-02-01 19:36] eroux commented on #329
excellent, thanks @karmagongde !

[2021-02-01 19:36] #329 closed

[2021-02-02 08:47] eroux opened #330 "small display bug in extended properties"
Here's what I see on https://library.bdrc.io/show/bdr:G165 on FIrefox:

![Capture d’écran de 2021-02-02 09-47-13](https://user-images.githubusercontent.com/60868/106574843-b4756380-653b-11eb-89e0-f0d19eaedc22.png)

[2021-02-02 13:36] eroux opened #331 "broken images in I2KG212454"
I2KG212454 (vol 170 of W2KG5015, which has been synced recently) has only two images besides the scanrequest and they seem broken, as if the image file itself was cut halfway through... are the original images like that too? @TBRC-Travis @karmagongde ? (reported by @brunogml)

[2021-02-02 13:57] eroux commented on #331
I just checked the original PDF and it's fine.

also in I2KG212460, there are a few images missing such as the one that has the stamp with number 4 written in Latin digits. I also checked the PDF and it's there. I wonder what happened?

[2021-02-02 14:51] eroux commented on #330
oops, wrong repo

[2021-02-02 14:51] #330 closed

[2021-02-02 15:05] TBRC-Travis commented on #331
for W2KG5015 we received the material as both JPGs and PDFs.  the JPGs were higher resolution than the PDFs so that's what I processed for each volume.  unfortunately it seems we received an incomplete image set for I2KG212454 as I only see two images in the sources dir.  @karmagongde can we request the full set of images for this volume from CIHTS?  they did send us a PDF for I2KG212454 which I c

[2021-02-02 16:04] karmagongde commented on #331
@TBRC-Travis @eroux Sure I will ask for a full set of JPGs images of W2KG5015-I2KG212454 (vol. no. 170). No worries. I will let you know when it is received.

[2021-02-02 16:07] eroux commented on #331
Thanks! @karmagongde can you also ask for volume 176 (I2KG212460) that is missing a few images too?

[2021-02-02 16:10] karmagongde commented on #331
@eroux Sure I will also ask for volume 176.

[2021-02-02 16:40] karmagongde commented on #331
@eroux Hi Elie, do you have the missing image number or list in volume 176 (I2KG212460)? I checked and found a few damaged images otherwise it looks complete. (page no. 4, 25, 459, 757). In the PDF file, these pages exist.

@TBRC-Travis Hi Travis, could you able to fix the damaged JPEG. (page no. 4, 25, 459, 757 in the source folder). These could be the same case with their images.

[2021-02-02 16:45] eroux commented on #331
Bruno compared the image count with what's to be expected with the indicated page numbers and apparently there's a difference of 6 so it's just a few images yes, I think reconstructing them from the PDF is fine

[2021-02-02 16:47] eroux commented on #331
Actually, I suspect the new images for I2KG212454 will take a lot of time to come, maybe in a first step we could derive them from the PDF? That would allow us to create the outline. It would be quite interesting as these images are considerably better than the old ones

[2021-02-02 17:11] brunogml commented on #331
Hi, it would be great to have the pictures asap, so that I can finish the indexation between the pagination and the images for this Tanjur. Thanks!

[2021-02-02 18:23] TBRC-Travis commented on #331
ok, I'll process the PDF images for these two volumes and sync them to the website later today.  if we receive better images from CIHTS later on I can update them accordingly.

[2021-02-02 18:49] eroux commented on #331
great, thanks a lot!

[2021-02-02 22:34] TBRC-Travis commented on #331
@brunogml @eroux  I2KG212454 and I2KG212460 have been re-synced with the images from their respective PDFs.  Please take a look.  They should be good now.  Let me know if that's not the case.

[2021-02-03 06:10] brunogml commented on #331
It is perfect. Thanks a lot

[2021-02-03 13:27] eroux commented on #331
@TBRC-Travis another oddity in this work: volumes 64 to 70 (I2KG212348 to I2KG212354) are not sync, despite the source images being present... is it also that we didn't have the .jpg and just the PDF? It would also help to sync them. Bruno double checked everything else and this seems to be the last error

[2021-02-03 14:08] TBRC-Travis commented on #331
Very odd.  I'm not sure how I missed these.  These volumes do have both JPGs and PDFs.  I'll fix these today.

[2021-02-03 14:11] eroux commented on #331
thanks!

[2021-02-03 22:51] TBRC-Travis commented on #331
@brunogml @eroux ok, I think we're good now.  I2KG212348 to I2KG212354 have been updated.

[2021-02-04 06:11] brunogml commented on #331
Thanks!

[2021-02-08 15:52] eroux opened #332 "migrating T1814 to a conceptual work?"
Hi @karmagongde having T1814 as a topic is a bit counter intuitive as in similar cases we tend to have a conceptual work instead... perhaps we could migrate it? Do you think there are other cases like this we could migrate too?

[2021-02-08 16:40] eroux opened #333 "closing etext viewer should bring back to etext instance page"
for instance, go to

https://library.bdrc.io/show/bdr:IE0OPP008105

unfold volume 1 in outline, click on "open in viewer", it leads to https://library.bdrc.io/show/bdr:UTIE0OPP008105_v001#open-viewer (which is quite reasonable)

but then when clicking on "close etext", it leads to https://library.bdrc.io/show/bdr:UTIE0OPP008105_v001 which is not where we were before, it's quite confusing... In cas

[2021-02-08 17:34] berger-n commented on #333
fixed
closing etext volume now returns to etext outline:

![image](https://user-images.githubusercontent.com/33383857/107258573-400b5a80-6a3c-11eb-81cf-c6331bf1ba6a.png)

[2021-02-08 17:53] karmagongde commented on #332
@eroux T1814 used for particular Dorje Drolo teaching revealed by Yongde Migyur Dorjee.

There are many #T related to deities that have the same case because of traditional linage or Terton. So, please migrate all of them.

[2021-02-08 17:57] karmagongde commented on #332
@eroux T1814 used for particular Dorje Drolo teaching revealed by Yongde Migyur Dorjee.

There are many #T related to deities that have the same case because of individual lineage teaching or Terton's revealed teaching. So, please migrate all of them.

[2021-02-08 18:19] eroux commented on #332
ok I see, if it's really a lineage and not a work let's keep it that way. Thanks!

[2021-02-08 18:19] #332 closed

[2021-02-08 18:19] eroux commented on #333
perfect, thanks a lot!

[2021-02-08 18:19] #333 closed

[2021-02-09 15:46] TBRC-TimB opened #334 "Missing Page in W29307"
A user contacted us on Inquiry@tbrc.org and told us that we were missing a page. The link below points to a more exact area. Attached is a screenshot the user sent with the missing pages.

https://library.bdrc.io/show/bdr:MW29307?part=bdr:MW29307_2D5DA0

![image1](https://user-images.githubusercontent.com/54593308/107388550-f5352580-6ac3-11eb-91e9-217849c5c19f.png)

[2021-02-10 10:19] eroux opened #335 "authorship statement but no associated person"
I stumbled yesterday upon W3CN12957 which has an authorship statement reading "rdzogs chen pa rang byung rdo rjes so/" but  P314 is not in the associated persons as the main author.

I got curious and made a query to spot all the instances where we have an authorship statement but no author attached, and here's the result:

[nocreator.zip](https://github.com/buda-base/library-issues/files/5957379/

[2021-02-10 10:27] eroux opened #336 "biography with no attached person"
In another random look at the data, I stumbled upon W1PD159405 and W20880 which are biographies about persons but the person is not indicated in the topic. I ran a query for similar cases and here are the results (discarding the outlines):

[biography-noperson.zip](https://github.com/buda-base/library-issues/files/5957419/biography-noperson.zip)

Among these I think a majority can be ignored as th

[2021-02-10 17:08] eroux commented on #336
For reference, here's the same list with autobiographies (T1CZ60) instead of biographies (T3):

[autobiographies-noperson.zip](https://github.com/buda-base/library-issues/files/5960005/autobiographies-noperson.zip)

[2021-02-10 17:14] TBRC-Travis commented on #328
@eroux @karmagongde  I'm rather confused about how to proceed with the folders in  `/Incoming/scans/Inbox/microfilm and microfiche/microfilm` (w0159142_jp2, w0159143_jp2...etc) since there seems to be duplication with some of the Sheehy material and some of the folders contain images for multiple work numbers.  It's a bit of a mess.

@eroux if you have time it would be really helpful if you'd be a

[2021-02-10 17:26] eroux commented on #328
ok, I'll do that!

[2021-02-10 17:29] TBRC-Travis commented on #328
thanks!

[2021-02-10 18:32] karmagongde commented on #328
@TBRC-Travis You are right. The images in _/Incoming/scans/Inbox/microfilm and microfiche/microfilm_ all of them have their work numbers created in 2017. It is a duplicate of the Sheehy material.

Anyway, here are the work numbers for the images in _microfilm and microfiche/microfilm_, and if we find images for all of them from Sheehy material mean we covered them.

- [ ] W8LS29240 = Reel No.L757/

[2021-02-11 15:13] eroux opened #337 "error during eTengyur import"
@xristy there was a screwup during the import of the eTengyur (my bad), the image group numbers were not aligned towards the end. The new files are here:

https://eroux.fr/UT23703.zip

could you please import them? Note that it's important to remove the folders `UT23703/UT23703-1519/` and `UT23703/UT23703-1520/`, the rest can just be overwritten

Thanks!

[2021-02-14 08:44] eroux commented on #320
@karmagongde FYI: https://www.bibliaimpex.com/index.php?p=sr&format=fullpage&Field=bookcode&String=9783945151082&Book=Authenticity%20and%20authentication:%20glimpses%20behind%20the%20scenes%20of%20the%20formation%20of%20the%20Tibetan%20Buddhist%20canon

[2021-02-16 18:23] karmagongde commented on #320
@eroux Thanks, I added a note on P4CZ10522.

[2021-02-22 11:26] eroux opened #338 "persons students of themselves"
In these records the persons are students of themselves, which breaks the BUDA UI (for good reasons):

- [x] P745
- [x] P8297
- [x] P8224
- [x] P2642
- [x] P1646

in the case that I've looked at, it's because P8224 is marked as being a student of P3835, but then P3835 has been withdrawn in favor of P8224. I suspect this is the case for the other persons

see https://github.com/buda-base/public-dig

[2021-02-22 15:35] karmagongde commented on #338
@eroux I fixed the Person records that have withdrawn #P record and students of themselves.

I did not find it for P8297.

[2021-02-22 15:38] eroux commented on #338
Thanks @karmagongde ! The case of P8297 is a bit different, he's directly a student of himself, see in https://www.tbrc.org/xmldoc?rid=P8297 :

[code]

[2021-02-22 15:45] karmagongde commented on #338
@eroux I fixed it. Thank you.

[2021-02-22 15:49] eroux commented on #338
excellent, thanks!

[2021-02-22 15:49] #338 closed

[2021-02-22 16:12] karmagongde commented on #336
@eroux I am assigning all the librarians to work on the above issues.
.
Could you please check topics T208 and T413 along that is along and do not associate with other subjects such as isAboutUncontroled or isAboutSect. If so, please send me the list. I will also add this to the workflow.

[2021-02-22 20:08] eroux commented on #336
Here are the lists:

[208-413-noabout.zip](https://github.com/buda-base/library-issues/files/6024882/208-413-noabout.zip)

but I'm not really sure what you want to do with these? I don't think Sungbum or Sungthorbu should have the author as the "is about", it's quite different from a biography

[2021-02-22 20:24] karmagongde commented on #336
@eroux Thank you for these 2 lists. I want to check missing subject "isAboutUncontroled" generally we select "Nyingma, Kagyu, Sakya, Gelug, Bon, Rimed. So all the lineages collected works will be group together.

[2021-02-22 20:33] eroux commented on #336
Oh I see! I didn't know this mechanism

[2021-02-24 16:10] xristy commented on #337
I was in the process of uploading the files and ran into a problem:

[UT23703-1518-0000.xml.zip](https://github.com/buda-base/library-issues/files/6037213/UT23703-1518-0000.xml.zip)

at line 270 char 1094 there is an illegal Unicode char 0x7 that causes the upload to abort:
[code]
It's this fragment: `n="5"/>མུར�་པ་རྩ་མཁྲིས་བུ་ཏི་ཀ`.

I'll now have to disentangle what has been uploaded and what re

[2021-02-24 16:21] eroux commented on #337
here's a replacement file: http://eroux.fr/UT23703-1518-0000.xml.zip

[2021-02-24 16:43] xristy commented on #337
All of the docs are now uploaded, excepting `UT23703/UT23703-1519/` and `UT23703/UT23703-1520/`.

[2021-02-24 17:09] eroux commented on #337
excellent, thanks a lot!

[2021-02-24 17:09] #337 closed

[2021-03-04 08:27] eroux opened #339 "duplicate in Indian masters"
Hi @karmagongde  , I'm doing a little project on the side about authors and translators of the Canon and I found some duplicates in our person records:

these are fairly straightforward:

- [ ] P0RK237,P2CN574
- [ ] P0RK58,P4CZ15370
- [ ] P0RK1517,P8194
- [ ] P0RK79,P8218
- [ ] P0RK966,P6242
- [ ] P0RK1536,P5659
- [ ] P0RK1037,P10154
- [ ] P0RK335,P4CZ15114
- [ ] P0RK508,P44
- [ ] P0RK1002,P5263
-

[2021-03-04 14:57] JannTibetan commented on #339
It will be good to clean up the data of these translators. As we start to link together Sanskrit-Tibetan-Chinese canonical works it's more important than ever before to make sure that our records of Tibetan translations fully edited. Thanks for working on this.
Karma, shall we schedule one day for the librarians to work on the second list? (After we finish the rang rnam work)

[2021-03-04 18:03] karmagongde commented on #339
I really want to work on cleaning the duplicate person records for a long time and waiting for the update of the admin tool.

Is it possible to update the Admin tool? This is a time to have a useful and powerful tool. it will save lots of librarians time.

Right now, it works for replacing the "Creator type" field only.
If this tool could able to replaces #P records associated with _isAboutPerson_

[2021-03-04 18:09] eroux commented on #339
In the migration to BUDA, I make it so that all the isAboutPerson, associated lineages, teacher/student, kinship relationships, etc. are transferred from the withdrawn record to the remaining one. So even if the Admin Tool is not working thoroughly on tbrc.org, you don't need to go through everything, it will be correct on BUDA.

This is just an initial list yes, there's a lot more to be done. It

[2021-03-04 20:10] eroux opened #340 "kinship issue"
It seems there has been some mixup in some kinship relationships. Current we have

- P5324 has son P2627 (1376-1451)
- P5324 has brother P2637 (grags pa rgyal mtshan, 1242-1346)
- P10MS19659 (grags pa rgyal mtshan, 1352-1405) has nephew P2627

so I think P10MS19659 is the brother of P5324, not P2637. @karmagongde what do you think?

[2021-03-04 21:32] karmagongde commented on #340
Looks like two _grags pa rgyal mtshan_ got mixed up. P2637 does not fit in the date range.
So, P10MS19659 is the brother of P5324.

[2021-03-05 09:41] eroux commented on #340
Here's more context (from a friend of mine):

P10MS19659 should have (according to W1GS66291, p. 537)
- additional names:
   * bo dong grags pa rgyal mtshan
   * paN chen grags pa rgyal mtshan
- sister: P5324
- nephew: P2627
- master: P2388
- disciple: P2627

and P2637 should have (see https://www.tbrc.org/#library_work_ViewInWIndow-W1PD96682%7CI1PD96888%7C105%7C241%7C231%7C251 )
- no link with P5

[2021-03-05 14:52] karmagongde commented on #339
@eroux Thank you for explaining about reviewing these Person records. It makes a less time-consuming.

[2021-03-05 16:29] karmagongde commented on #340
@eroux Corrected and added everything.

[2021-03-05 18:50] karmagongde commented on #339
@eroux I have withdrawn 9 duplicate records.
P0RK1037 and P10154 have the same primary name but the title name is different.
Please test for migration of the following withdrawn #P records:
- [ ]  P0RK237
- [ ]  P0RK58
- [ ]  P0RK1517
- [ ]  P0RK79
- [ ]  P0RK966
- [ ]  P0RK1536
- [ ]  P0RK335
- [ ]  P0RK508
- [ ]  P0RK1002

[2021-03-07 08:18] eroux commented on #340
thanks a lot!

[2021-03-07 09:32] eroux commented on #340
@karmagongde about works attached to P10MS19659, a sungbum in 137 volumes apparently exists, see attached file below

[BodongCholeNagmyal_courtepresentation.pdf](https://github.com/buda-base/library-issues/files/6096877/BodongCholeNagmyal_courtepresentation.pdf)

[2021-03-07 20:02] eroux opened #341 "associated lineages"
Currently associated lineages are displayed through the `associatedSimpleTypes` query, there's a new `associatedLineages` query that's a little more complete. It has a bit more tweaks, and two facets that we could add in the UI: `lineageType` and `lineageObject`. There's a new relation type too, called `tmp:lineageMember`, which will need a new entry in the translations

[2021-03-08 10:52] eroux commented on #339
@karmagongde the migration is done, I think it looks fine on BUDA now, what do you think?

[2021-03-08 13:51] karmagongde commented on #339
@eroux These are migrated well on BUDA. I like the feature of showing only the current #P record not the withdrawn one.
I will review the rest of the listed #P records and send them to you.
Thank you!

[2021-03-08 13:54] eroux commented on #339
great, thanks!

[2021-03-09 03:45] karmagongde commented on #339
@eroux Reviewed both the lists and below are the withdrawn #P Records. The rest are fine.

**Withdrawn:**
P0RK1415
P0RK360
P0RK852
P0RK1728
P8LS68062
P0RK1516

P0RK1537
P4CZ15135
P4CZ15268
P4CZ15150
P4CZ15096
P9595
P4CZ10558
P4CZ16797
P4CZ15104
P8201
P4CZ10511

[2021-03-09 07:39] eroux commented on #339
excellent thanks! I've added these to the migration process, it should be good tomorrow!

[2021-03-10 17:31] TBRC-pmench opened #342 "Image download problems with W1FEMC****** works"
Trent reported that he has been unable to download files from Cambodia works. I tested a few works and had issues as well.

1. https://library.bdrc.io/show/bdr:W1FEMC030140 — generating the PDF from the IIIF viewer never completed. The progress % would increase and decrease, and +45 minutes later still would not finish
2. https://library.bdrc.io/show/bdr:W1FEMC010933 — downloading PDF and Zip from

[2021-03-10 17:54] eroux commented on #342
thanks! I've moved it to https://github.com/buda-base/buda-iiif-server/issues/71

[2021-03-10 17:54] #342 closed

[2021-03-10 21:44] TBRC-Travis commented on #328
@eroux still waiting on this.  when you have time that would be most wonderful.  thanks.

[2021-03-11 08:53] eroux commented on #328
Sure! Here it is (largely based on what Karma did earlier):

- w0159142_jp2 (all) + w0159143_jp2 (img 1 to 0479): W8LS29359
- w0159143_jp2 (img 0480 to the end): W8LS29246
- w0159144_jp2: W8LS29362
- w0159145_jp2 (img 1 to 267): new work: @karmagongde  can you catalog it and give us the RID? It's [this one](https://catalogue.ngmcp.uni-hamburg.de/receive/aaingmcp_tbtdocument_00047788), the same as

[2021-03-11 17:08] TBRC-TimB opened #343 "Spelling errors in DLD Catalog"
I found missing ' "འ" in this PDF Tibetan catalog. After further investigation, I found there are actually missing in the Taxonomy outline and I corrected them. Therefore, could you please update again the "complete-catalog-incremental-dld-08-2018-12-2020-bo.pdf". So, the title of the subject will be the correct spelling.

Incorrect spellings are in the pdf page 449, 456, 460.

After Karma made up

[2021-03-12 18:16] karmagongde commented on #328
@eroux @TBRC-Travis Here is RID W2KG228517 for w0159145_jp2 (img 1 to 267).

[2021-03-12 18:40] TBRC-Travis commented on #328
Thank you both.  This should be all I need here.  I'll let you know if I encounter any problems in organizing this.

[2021-03-12 21:37] eroux commented on #328
(sorry, the github web interface was buggy, I didn't mean to post the same thing multiple times)

[2021-03-12 21:54] TBRC-Travis commented on #328
No problem.  I had the same issue.  Something was funky with it this afternoon.￼

[2021-03-14 15:22] eroux opened #344 "collection of texts from the gNas bcu lha khang"
I've created a collection for texts coming from the gNas bcu lha khang (PR1NCLK) so that we can keep track of the scans we have of:
- scans of texts from the collection directly
- scans of reprints, either facsimile or input (mostly by Paltsek)

The ones we currently have are:
- direct scans:
   * W8LS15749
   * W26453 (this one has an unusual history and doesn't appear in the catalog by Paltsek)

[2021-03-14 19:33] eroux commented on #339
@karmagongde here's another one I stumbled upon randomly:
- P0RK1416 / P4CZ15518 (same name, both student of the same person)

[2021-03-14 21:08] JannTibetan commented on #344
Fantastic, thanks. Let’s add the reference Ducher’s article in the notes section for the overall collection.
Cécile Ducher, “Goldmine of Knowledge: The Collections of the Gnas bcu lha khang in ’Bras spungs Library,” Revue d’Etudes Tibétaines, no. 55, Juillet 2020, pp. 121–139.

[2021-03-15 06:58] eroux opened #345 "title of W1KG1680"
I just received a report from a user saying that the bibliographical title of W1KG1680 shouldn't be 'brug gi rgyal rabs because the book by P7800 (of which we have two copies) is the more famous book with that name, and it's not really a name that appears in W1KG1680. @karmagongde what do you think?

[2021-03-15 13:19] karmagongde commented on #345
@eroux That suggestion is correct. I removed the title 'brug gi rgyal rabs. Thanks!

[2021-03-15 13:30] karmagongde commented on #339
@eroux I have withdrawn P0RK1416.

[2021-03-15 13:47] eroux commented on #345
great, thanks!

[2021-03-15 13:47] #345 closed

[2021-03-15 13:49] eroux commented on #339
thanks!

[2021-03-15 16:10] karmagongde commented on #344
Among the list, the following work numbers are computer input texts. Neither reprints nor facsimile. Should we really want to add it under PR1NCLK? When the reprints or facsimile of these texts are available then we can add them under PR1NCLK.

I checked the W1KG14303 and W1AC375 and found the sources materials are from various places such as Drepung, Palpung, Drug Tashi Chosdzong, and so on) see:

[2021-03-15 16:40] eroux commented on #344
Yes, let's keep these, see this extract from Cécile Ducher's article:

![1](https://user-images.githubusercontent.com/60868/111188294-346c0000-85b5-11eb-887e-0727a9a5e89f.png)

it's still interesting that most of the originals are from Drepung specifically

[2021-03-16 05:41] eroux commented on #344
BTW, the article says there are 400 volumes of Kagyu material published by Paltsek in the 2010s but only cites 158... perhaps the list could be completed in that regard

[2021-03-17 11:05] eroux opened #346 "missing author"
Hi @karmagongde , just a quick bug: on https://www.tbrc.org/#!rid=W1KG4598 there's a link to https://www.tbrc.org/#!rid=P1KG5108 in the associated persons, but there's no P1KG5108 in our database. It should be [this person](http://worldcat.org/identities/lccn-n81047539/)

[2021-03-17 14:34] eroux opened #347 "definition of primary title"
Hi @karmagongde could you describe the way a primaryTitle is selected?

This is in the context of https://github.com/buda-base/xmltoldmigration/issues/170 about which I had a conversation with Jann, but more specifically about P314 who has "kun mkhyen 'jigs med gling pa" as primaryTitle. It seems:
- "'jigs med gling pa" is his terton name (which is not indicated in the data per se although it's no

[2021-03-17 14:45] karmagongde commented on #346
@eroux P1KG5108 is not more in our database so I removed it from W1KG4598.

[2021-03-17 15:01] eroux commented on #346
ok, thanks! I'm wondering why we wouldn't want to add him though?

[2021-03-17 15:37] karmagongde commented on #346
I did not see his name on the text, as well as I can't read Chinese and Japanese.

[2021-03-18 17:11] eroux commented on #344
@karmagongde I added a few more entries but for some I'm not totally sure they are from Drepung:
- W1KG15061 really looks like W1KG15060 which is indicated as being from Drepung
- W1GS66286
- W2DB25060
- W1PD104698

what do you think about these?

[2021-03-18 17:52] eroux commented on #298
I think now is a good time to create the collection, @xristy I've created PR1PL480, could you add it to the following list of works?

[pl480list.zip](https://github.com/buda-base/library-issues/files/6166260/pl480list.zip)

For reference, here's a list that I've added today:
- W00EGS1016284
- W19664
- W30138
- W1GS2162
- W30136
- W29912
- W1KG12690
- W23739
- W30139
- W00EGS1016267
- W23771
- W301

[2021-03-18 18:02] eroux opened #348 "RIDs to be added to the Lokesh Chandra collection"
doing a search on BUDA I found the following that should be added to PR1LOKESH01:
- W8LS66716
- W1KG13683
- W30268
- W29227
- W1KG10237
- W30182
- W29571
- W22106
- W7494
- W30450
- W30451
- W4CZ7933
- W22737
- W14322
- W29228
- W30155
- W29227
- W30151
- W19357
- W30131
- W30285
- W22914
- W30135
- W1KG14782
- W7667
- W1KG13683
- W1KG6113
- W4CZ5370

(note that some may already be in the collecti

[2021-03-18 18:35] karmagongde commented on #344
@eroux  As you said, W1KG15061 Looks like the same as W1KG15060 even there is no mark of _phyi_ or _nang_ and some of the title " ཕྱག་རྒྱ་ཆེན་པོ་ལྔ་ལྡན་སྟན་ཐོག་གཅིག་མ་བདུད་རྩིའི་འོད་ཟེར།" is not inside the Drepung catalog. In W1KG15060, there are many titles with  _phyi_ or _nang_.
As before, other work numbers are the input of Drepung Library, Palpung and other. Besides the percentage ratio, thes

[2021-03-18 19:52] eroux commented on #344
ok, thanks a lot! let's not add W1KG15061 then and let's add the others. @xristy would you have time to put all the following RIDs in the PR1NCLK product?

[code]

[2021-03-19 18:48] xristy commented on #298
990 Works added to PR1PL480

[2021-03-19 18:53] xristy commented on #344
53 Works added to PR1NCLK

[2021-03-19 18:58] xristy commented on #348
28 Works added to PR1LOKESH01

[2021-03-19 19:27] eroux commented on #344
excellent, thanks a lot!

[2021-03-19 19:28] eroux commented on #298
Thanks a lot! This is pretty impressive!

[2021-03-19 19:28] #298 closed

[2021-03-19 19:28] eroux commented on #348
thanks!

[2021-03-19 19:28] #348 closed

[2021-03-23 08:33] eroux opened #349 "problem with images of I1KG21651"
Hi @karmagongde , @brunogml is creating an outline of W1KG14783 for rKTs, but volume 46 (མི, I1KG21651) has a lot of images from volume ཙི, while volume ཙི doesn't have the images from volume མི (47). Our outline is a bit strange in that place... Do we have the missing images in the archives? If not, perhaps we could rescan this volume?

[2021-03-23 17:22] karmagongde commented on #349
@eroux @brunogml I checked online images and it looks like in the set volume 46 has page miss placed issue. The scanner scanned accordingly to the numerical number which is the correct order in this volume.
RS3 has a connecting problem to check the images in Archive. Looks like it is temporarily unavailable. But how long I don't know.
We do not have the hardcopy of the W1KG14783 in the office. 95%

[2021-03-23 17:31] eroux commented on #349
great, thanks! just tagging @jimk-bdrc about RS3

[2021-03-23 17:42] karmagongde commented on #349
@eroux I already asked Jim for a particular work number from RS3. He is preparing the particular volume no. 46 for me.

[2021-03-23 20:01] jimk-bdrc commented on #349
@karmagongde since there are multiple volumes involved, I'm copying the whole work  to `RS3:/Archive1/83/W1KG14783` It's taking a long time, will let you know when it's done.